/* base setting */
body, h1, h2, h3 {
	font-family: Arial, Helvetica, FreeSans, "蘋果儷中黑", "微軟正黑體", sans-serif;
}
body, #header {
	background: transparent center 0 repeat;
	background-image: url('/img/bg_fabric_plaid_@2X.png');
}
body {
	font-size: 24px;
}
a {
	color: #AA1919;
}
a:hover {
	color: #CC3333;
}
a:visited {
	/* color:#E35A28; */
}
iframe {
	border: none;
	width: 100%;
}
.small {
	font-size: 20px;
}



/* layout */
html, body {
	height: 100%;
}
body {
	margin: 0 auto;
}
#wrap {
	height: auto !important;
	margin: 0 auto -160px; /* footer height */
	min-height: 100%;
}
#push, #footer {
	height: 160px; /* footer height */
}
#body {
	padding-top: 160px !important; /* header height */
}
#header {
	position: fixed !important;
	margin-bottom: 0 !important;
	height: 160px; /* header height */
}
#header > .container {
	height: 100%;
}
#footer {
	position: relative;
}
#footer > .container {
	position: relative;
	height: 100%;
}
.container {
	width: 640px !important; /* fixed 640px, including mobile */
	padding: 10px !important;
}



/* banner */
#banner {
	position: relative;
	height: 76px; /* banner height */
	background: transparent no-repeat 0 0;
	background-image: url('/img/header-logo.png');
	margin-bottom: 16px;
}
#banner-logo {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	height: 72px;
	width: 96px;
}
#social-menu {
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: 0;
}
#social-menu a {
	display: inline-block;
	float: right;
	width: 44px;
	height: 44px;
	background: transparent no-repeat 0 0;
	font-size: 40px;
	line-height: 44px;
	color: #AAA;
}
#social-menu a:hover,
#social-menu a:focus {
	color: #AAA;
	text-decoration: none;
}
#social-menu a.facebook:hover {
	color: #3A589B;
}
#social-menu a.google-plus:hover {
	color: #D6492F;
}
#social-menu a.youtube:hover {
	color: #CF3427;
}



/* page menu */
.menu-link {
	display: inline-block;
	width: 140px;
	height: 140px;
	padding: 0;
	padding-top: 100px;
	border-radius: 15px;
	background: #C8C0B8 0 0 no-repeat;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}
.menu-link:hover {
	text-decoration: none;
}
.menu-link + .menu-link {
	margin-left: 10px;
}
.menu-link.space {
	background-position: 30px 10px;
	background-image: url('/img/icon_space_white.png');
}
.menu-link.studio {
	background-position: 35px 15px;
	background-image: url('/img/icon_studio_white.png');
}
.menu-link.schedule {
	background-position: 30px 10px;
	background-image: url('/img/icon_space_white.png');
}
.menu-link.traffic {
	background-position: 30px 10px;
	background-image: url('/img/icon_space_white.png');
}
.menu-link.about {
	background-position: 30px 10px;
	background-image: url('/img/icon_space_white.png');
}
.menu-panel {
	position: relative;
	background: #C8C0B8 0 0 no-repeat;
	border-radius: 15px;
	padding: 15px 0;
}
.menu-panel > .menu-link {
	position: absolute;
	top: 15px;
	left: 0;
}
.menu-desc {
	margin: 0 15px 15px 140px;
	background: #DDD 0 0 no-repeat;
	border-radius: 10px;
	padding: 10px 15px;
	line-height: 32px;
}
.menu-sub-desc {
	font-size: 20px;
}
.menu-panel .photo-grid {
	margin: 0 15px;
}
.menu-panel .photo-grid > img {
	padding: 0;
	height: auto;
}
#page-menu {
	text-align: center;
	height: 40px;
}
#page-menu > div {
	display: inline-block;
}
#page-menu .menu-link {
	float: left;
	width: 110px;
	height: 40px;
	margin-right: 6px;
	padding-top: 4px;
	border-radius: 10px;
	font-size: 24px;
	background-image: none;
}
#page-menu .menu-link:last-child {
	margin-right: 0;
}



/* footer */
#footer {
	text-align: center;
}
#footer hr {
	margin: 0 -5px 10px -5px;
	border-color: #C8C0B8;
}
#footer > .container > div {
	padding-bottom: 5px;
}
#footer #google-maps {
	display: inline-block;
	width: 600px;
	height: 300px;
	background: transparent 0 0 no-repeat;
	background-image: url('/img/map.jpg');
}



/* index */
#body, #body-header > * {
	margin-bottom: 16px;
}
#body > :last-child,
#body-header > :last-child {
	margin-bottom: 0;
}
#soapbox {
	position: relative;
}
#soapbox > img {
	width: 100%;
	height: auto;
}
#soapbox > span {
	display: inline-block;
	position: absolute;
	left: 16px;
	bottom: 16px;
	color: #FFF;
	text-shadow: 0 0 3px #000;
}



/* subpage */
.page-section {
	padding-top: 20px;
	font-size: 24px;
}
.page-section h1,
.page-section h2 {
	font-weight: bold;
}
.page-section .table-container {
	padding: 0 16px;
}
.page-summary {
	text-align: center;
	font-size: 20px;
}
.page-summary > span {
	display: inline-block;
	text-align: left;
}
.page-desc {
	font-weight: bold;
}
.page-sub-desc {
	clear: both;
	font-size: 20px;
	padding-right: 0;
}
.page-section #google-maps {
	width: 600px;
	height: 350px;
}
#google-calendar {
	height: 440px;
}
#google-form {
	height: 535px;
}
#business-flow {
	font-size: 20px;
}
#business-flow .box {
	padding: 12px;
}
#business-flow .box > * {
	text-align: center;
	padding: 8px;
	border-radius: 10px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	background: transparent 0 0 no-repeat;
}
#business-flow .box.visit > * {
	background-color: #C2DBF3;
}
#business-flow .box.event > * {
	background-color: #F2C2DA;
}
#business-flow .box.studio > * {
	background-color: #DAF2C2;
}
#business-flow .box.payment > * {
	background-color: #C8C0B8;
}
#business-flow .box.all > * {
	background-color: #F8F8F8;
}
#business-flow .box.comment > * {
	border: none;
	padding: 0;
}



/* photo flow */
.photo-flow {
	position: relative;
}
.photo-flow > * {
	float: left;
}
.photo-flow > img {
	height: auto;
}
.photo-flow.col-2 > .col-2,
.photo-flow.col-3 > .col-3,
.photo-flow.col-4 > .col-4,
.photo-flow.col-5 > .col-5 {
	width: 100%;
}
.photo-flow.col-4 > * {
	width: 25%;
}
.photo-flow.col-2 > *,
.photo-flow.col-4 > .col-2 {
	width: 50%;
}
.photo-flow.col-4 > .col-3 {
	width: 75%;
}
.photo-flow.col-3 > * {
	width: 33.33333%;
}
.photo-flow.col-3 > .col-2 {
	width: 66.66667%;
}
.photo-flow.col-5 > * {
	width: 20%;
}
.photo-flow.col-5 > .col-2 {
	width: 40%;
}
.photo-flow.col-5 > .col-3 {
	width: 60%;
}
.photo-flow.col-5 > .col-4 {
	width: 80%;
}

/* photo display */
#photo-display > * {
	display: table;
	width: 100%;
	height: 100%;
}
#photo-display > * > * {
	display: table-cell;
	vertical-align: middle;
}
#photo-display #photo-display-image {
	max-width: 100%;
	max-height: 100%;
}

/* icon */
.fa-cus-ul {
	padding-left: 0;
	list-style: none;
}
.fa-cus-ul > li {
	position: relative;
}
.fa-cus-ul.x16 > li {
	padding-left: 24px;
}
.fa-cus-ul.x16 > li:before {
	left: 2px;
	top: 6px;
	font-size: 16px;
}
.fa-cus-ul > li:before {
	position: absolute;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}
.fa-cus-sun-o:before {
	content: "\f185";
}
.fa-cus-users:before {
	content: "\f0c0"
}
.fa-cus-magic:before {
	content: "\f0d0";
}
.fa-cus-microphone:before {
	content: "\f130";
}
.fa-cus-heart:before {
	content: "\f004";
}