/* base setting */
body, h1, h2, h3 {
	font-family: Arial, Helvetica, FreeSans, "蘋果儷中黑", "微軟正黑體", sans-serif;
}
body {
	background: transparent center 0 repeat;
	background-image: url('/img/subtle_white_feathers.png');
	font-size: 20px;
}



/* layout */
html, body {
	height: 100%;
}
body {
	margin: 0 auto;
}
#wrap {
	height: auto !important;
	margin: 0 auto -160px; /* footer height */
	min-height: 100%;
}
#push, #footer {
	height: 160px; /* footer height */
}
#body {
	padding-top: 96px; /* header height */
}
#header {
	position: fixed !important;
	margin-bottom: 0 !important;
	height: 96px; /* header height */
}
#header > .container {
	height: 100%;
}
#footer {
	position: relative;
}
#footer > .container {
	position: relative;
	height: 100%;
}
.container {
	/*width: 640px;*/ /* !important;  fixed 640px, including mobile */
}



/* header */
#banner {
	position: relative;
	height: 96px; /* banner height */
	background: transparent no-repeat 12px 12px;
	background-image: url('/img/header-logo.png');
}
#banner-logo {
	display: inline-block;
	position: absolute;
	left: 12px;
	top: 12px;
	height: 72px;
	width: 120px;
}
#social-menu {
	display: inline-block;
	position: absolute;
	right: 12px;
	bottom: 12px;
}
.social-link {
	display: inline-block;
	float: right;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: transparent no-repeat 0 0;
}
.social-link.facebook {
	background-image: url('/img/icon_facebook.png');
}
.social-link.google-plus {
	background-image: url('/img/icon_google+.png');
}
.social-link.youtube {
	background-image: url('/img/icon_youtube.png');
}
#page-menu {
	height: 96px; /* page menu height */
}



/* footer */
#footer .footer-column {
	display: inline-block;
	height: 100%;
	padding: 8px;
	float: left;
}
#footer #google-map {
	height: 100%;
	width: 240px;
	border: none;
}



.photo-grid {
	margin: 16px;
}
.photo-grid > img {
	padding: 15px;
	height: auto;
}

/* mobile phone */

