


body {
	background-image:url('/img/subtle_white_feathers.png');
	font-family: Arial, Helvetica, FreeSans, "蘋果儷中黑", "微軟正黑體", sans-serif;;
	font-size:25px;
}
h1, h2, h3 {
	font-family: Arial, Helvetica, FreeSans, "蘋果儷中黑", "微軟正黑體", sans-serif;;
}

#wrap, #body  {
	width:640px;
	margin:auto;
	padding:0;
	/*
	background-color:#CCC;
	border:1px solid black;
	*/
}
#body  {
	padding-left:13px;
}

/* Body
----------------------------------------------*/
span.titles {
	font-size:25px;
	color:red;
}

.half-column {
	width:300px;
	float:left;
}

/*圖片
----------------------------------------------*/

img {
	box-shadow: 5px 5px 2px 0 gray;
}
img.noshadow {
	box-shadow:none;
}

.img-2col {
	width:288px;
	height:162px;
    float:left;
	margin:5px 15px 0 0;
}
.img-3col {
	width:192px;
	height:108px;
    float:left;
	margin:5px 10px 0 0;
}
.img-4col {
	width:145px;
    float:left;
	margin:5px 5px 0 0;
}


/*測試
----------------------------------------------*/
.border {
	border:1px solid red;
	background-color:#FCC;
}

