


body {
	background:url('/img/subtle_white_feathers.png') ;
	font-family: Arial, Helvetica, FreeSans, "蘋果儷中黑", "微軟正黑體", sans-serif;;
	font-size:25px;
}
h1, h2, h3 {
	font-family: Arial, Helvetica, FreeSans, "蘋果儷中黑", "微軟正黑體", sans-serif;;
}

#wrap, #body  {
	width:640px;
	margin:auto;
	padding:0;
	/*
	background-color:#CCC;
	border:1px solid black;
	*/
}
#body  {
	padding-left:13px;
}

/* Body
----------------------------------------------*/
.wraps {
	margin:0 0 20px 0;
	clear:both;
}

.index-menu {
	float:left;
	margin:20px 10px 20px 0;

	width:140px;
	height:140px;

	line-height:240px;
	text-align: center;
}
#space {
	background:url('/img/icon_space.png') no-repeat;
    margin-right:20px;
}
#studio {
	background:url('/img/icon_studio.png') no-repeat;	
    margin-right:20px;
}
#schedule {
	background:url('/img/icon_space.png') no-repeat;	
}
#traffic {
	background:url('/img/icon_space.png') no-repeat;	
}
#about {
	background:url('/img/icon_space.png') no-repeat;	
}

.aaa {
	float:left;
	width:200px;
	border:1px solid red;
	margin-right:5px;
}
.clear {
	clear:both;
}
.border {
	border:1px solid red;
	background-color:#FCC;
}


.menu-des {
    line-height:40px;
	padding-top:30px;
}

/*圖片
----------------------------------------------*/

img {
	box-shadow: 5px 5px 2px 0 gray;
}
img.noshadow {
	box-shadow:none;
}

.img-2col {
	width:288px;
	height:162px;
    float:left;
	margin:5px 15px 0 0;
}
.img-3col {
	width:192px;
	height:108px;
    float:left;
	margin:5px 10px 0 0;
}
.img-4col {
	width:145px;
    float:left;
	margin:5px 5px 0 0;
}
img.small {
	width:75%;
}


/*測試
----------------------------------------------*/
.border {
	border:1px solid red;
	background-color:#FCC;
}



/*測試
----------------------------------------------*/
.footer-column {
	background-color: #FFF;
	border-top:2px solid #CCC;
}

#footer  {
	clear:both;
}

