body {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.draggable {
	cursor: url('/img/cur-openhand.cur'), pointer;
}
body.dragging {
	cursor: url('/img/cur-closedhand.cur'), pointer !important;
}

.formation-container {
	position: relative;
	margin: 0 -125px;
	padding: 0 0;
	text-align: center;
}
.room-container {
	display: inline-block;
	padding: 10px 180px 55px 265px;
	background: no-repeat bottom right transparent;
	background-image: url('/img/room-layout-wide2.png');
	background-size: 980px 420px;
}
#room {
	display: inline-block;
	position: relative;
	float: left;
	width: 565px;
	height: 355px;
}
#room::before {
	content: ' ';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 2px dashed rgba(0, 0, 0, 0.5);
}
#room > * {
	position: absolute;
}

#toolbox {
	margin-top: 8px;
}
.tb-root {
	position: relative;
}
.tb-bottom,
.tb-front {
	border: 3px solid #CCC;
}
.tb-bottom {
	height: 110px;
	border-radius: 8px;
	background-color: #E0E0FF;
}
.tb-front {
	display: inline-block;
	position: absolute;
	z-index: 50;
	bottom: 0;
	top: 0;
	left: 0;
	border-radius: 8px 0 0 8px;
	background-color: #FFE0E0;
	border-right: none;
}
.tb-front::after {
	content: ' ';
	display: inline-block;
	position: absolute;
	z-index: -1;
	left: 100%;
	bottom: 0;
	top: 0;
	width: 26px;
	transform: matrix(1, 0, -0.2, 1, -13, 0);
	background-color: inherit;
	border-right: 3px solid #CCC;
}
.tb-right-btn,
.tb-left-btn {
	writing-mode: vertical-lr;
	-webkit-writing-mode: vertical-lr;
	-ms-writing-mode: tb;
	text-align: left;
	color: #999;
}
.tb-left-btn {
	padding: 10px 8px;
}
.tb-right-btn {
	padding: 10px 8px 10px 32px;
}
.tb-right-btn,
.tb-right-body {
	display: inline-block;
	float: right;
	height: 100%;
}
.tb-left-btn,
.tb-left-body {
	display: inline-block;
	float: left;
	height: 100%;
}
.tb-right-btn,
.tb-root.open .tb-left-btn {
	width: 40px;
	line-height: 20px;
	font-size: 20px;
	padding: 10px;
	cursor: default;
}
.tb-left-btn,
.tb-root.open .tb-right-btn {
	line-height: 32px;
	font-size: 32px;
	padding: 20px;
}
.tb-root.closed .tb-front {
	cursor: pointer;
}
.tb-left-btn {
	width: 62px;
	padding-right: 10px;
}
.tb-root.open .tb-right-btn {
	width: 88px;
	padding-left: 36px;
	cursor: pointer;
}
.tb-root.open .tb-right-body {
	overflow: hidden;
}
.tb-left-body {
	overflow: hidden;
	width: 0;
}
.tb-root.open .tb-left-body {
	width: 848px;
}
.tb-left-btn,
.tb-right-btn,
.tb-left-body {
	transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
}

#presets {
	width: 900px;
}
.preset {
	display: inline-block;
	float: left;
	text-align: center;
	line-height: 60px;
	margin: 20px 10px;
	padding: 0 16px;
	font-size: 24px;
	border: 2px solid rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	background-color: rgba(0, 0, 0, 0.03);
}
.preset,
.preset:focus {
	color: rgba(0, 0, 0, 0.5);
}
.preset:hover {
	text-decoration: none;
	border-color: #795548;
	background-color: rgba(215, 204, 200, 0.6);
}
.preset:hover,
.preset:hover:focus {
	color: #795548;
}
#warehouse {
	padding: 2px;
}
.rotate-btn-container {
	position: relative;
	width: 40px;
}
.rotate-btn {
	position: absolute;
	left: 8px;
	right: 0px;
	height: 32px;
	font-size: 32px;
	color: #999;
	cursor: pointer;
}
.rotate-btn:hover {
	color: #666;
}
.rotate-btn.clockwise {
	top: 8px;
}
.rotate-btn.counter-clockwise {
	top: 48px;
	transform: scaleX(-1);
}
.pool {
	display: inline-block;
	float: right;
	position: relative;
	padding: 5px;
	width: 100px;
}
.pool .tray {
	position: relative;
	width: 90px;
	height: 90px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 50%;
}
.pool .symbol {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
}
.pool .symbol,
.pool .symbol .sub {
	background-color: rgba(0, 0, 0, 0.05);
	border-color: rgba(0, 0, 0, 0.5);
}
.pool .tray:hover .symbol,
.pool .tray:hover .symbol .sub {
	background-color: #d7ccc8;
	border-color: #795548;
}
.pool .count {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: right;
	color: #666;
	text-shadow: 0 0 3px #FFF;
}
.pool .count.negative {
	color: #DD2222;
}
.sub {
	position: absolute;
}
.longdesk,
.desk, 
.chair {
	background: #d7ccc8;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.longdesk {
	width: 20px;
	height: 90px;
	margin-left: -10px;
	margin-top: -45px;
	border: 2px solid #795548;
	border-radius: 3px;
	z-index: 10;
}
.desk {
	width: 20px;
	height: 60px;
	margin-left: -10px;
	margin-top: -30px;
	border: 2px solid #795548;
	border-radius: 3px;
	z-index: 10;
}
.chair {
	width: 24px;
	height: 22px;
	margin-left: -12px;
	margin-top: -11px;
	border: 1px solid #795548;
	border-left-width: 2px;
	border-radius: 2px 5px 5px 2px;
	z-index: 5;
}
.ghost {
	pointer-events: none;
	position: absolute;
	z-index: 50;
	opacity: 0.5
}
.ghost .sub.longdesk,
.ghost .sub.desk,
.ghost .sub.chair,
.ghost.longdesk,
.ghost.desk,
.ghost.chair {
	border-style: dashed;
}
