body {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.draggable {
	cursor: url('/img/cur-openhand.cur'), pointer;
}
body.dragging {
	cursor: url('/img/cur-closedhand.cur'), pointer !important;
}

.formation-container {
	position: relative;
	margin: 0 -120px;
	padding: 64px 240px;
	text-align: center;
}
.room-container {
	display: inline-block;
	padding: 162px 8px 92px 17px;
	background: no-repeat bottom right transparent;
	background-image: url('/img/room-layout.png');
	background-size: 385px auto;
}
#room {
	display: inline-block;
	position: relative;
	float: left;
	width: 360px;
	height: 268px;
}
#room::before {
	content: ' ';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 2px dashed rgba(0, 0, 0, 0.5);
}
#room > * {
	position: absolute;
}
#presets,
#warehouse {
	position: absolute;
	text-align: left;
	top: 64px;
	bottom: 64px;
	width: 240px;
}
#presets {
	left: 0;
}
#presets > * {
	display: block;
	position: relative;
	padding: 10px;
}
.preset {
	display: block;
	text-align: center;
	height: 100px;
	line-height: 100px;
	font-size: 32px;
	border: 2px solid rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.03);
}
.preset,
.preset:focus {
	color: rgba(0, 0, 0, 0.5);
}
.preset:hover {
	text-decoration: none;
	border-color: #795548;
	background-color: rgba(215, 204, 200, 0.6);
}
.preset:hover,
.preset:hover:focus {
	color: #795548;
}
#warehouse {
	right: 0;
}
.pool {
	display: inline-block;
	position: relative;
	padding: 10px;
	width: 120px;
	float: left;
}
.pool .tray {
	position: relative;
	width: 110px;
	height: 110px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 50%;
}
.pool .symbol {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
}
.pool .symbol,
.pool .symbol .sub {
	background-color: rgba(0, 0, 0, 0.05);
	border-color: rgba(0, 0, 0, 0.5);
}
.pool .tray:hover .symbol,
.pool .tray:hover .symbol .sub {
	background-color: #d7ccc8;
	border-color: #795548;
}
.pool .count {
	position: absolute;
	bottom: 0;
	right: -5px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: right;
	color: #666;
	text-shadow: 0 0 3px #FFF;
}
.pool .count.negative {
	color: #DD2222;
}
.sub {
	position: absolute;
}
.desk, 
.chair {
	background: #d7ccc8;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.desk {
	width: 20px;
	height: 60px;
	margin-left: -10px;
	margin-top: -30px;
	border: 2px solid #795548;
	border-radius: 3px;
	z-index: 10;
}
.chair {
	width: 24px;
	height: 22px;
	margin-left: -12px;
	margin-top: -11px;
	border: 1px solid #795548;
	border-right-width: 2px;
	border-radius: 5px 3px 3px 5px;
	z-index: 5;
}
.ghost {
	pointer-events: none;
	position: absolute;
	z-index: 50;
	opacity: 0.5
}
.ghost .sub.desk,
.ghost .sub.chair,
.ghost.desk,
.ghost.chair {
	border-style: dashed;
}
