/*
#header .navbar-brand {
	// Only IE 9+ supports background-size.
	background-image: url('/img/logo.png');
}
@media (max-width: 767px) {
	#header .navbar-brand {
		background-image: url('/img/logo-header.png');
	}
}
body.index section.heading h1 {
	&::before,
	&::after {
		// https://developer.mozilla.org/en-US/docs/Web/CSS/background-clip
		overflow: hidden; // IE 8
	}
}
*/