---
---

$color-link: #AA1919;
$color-link-hover: #CC3333;
$color-gray-brown: #C8C0B8;

/* reset */
body, h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, FreeSans, "蘋果儷中黑", "微軟正黑體", sans-serif;
}
body, 
#header {
	background: transparent center 0 repeat;
	background-image: url('/img/bg_fabric_plaid_@2X.png');
	background-size: 200px auto;
}
body {
	font-size: 20px;
}
h1, h2, h3 {
	font-weight: bold;
}
a {
	color: $color-link;
	
	&:hover, 
	&:focus:hover {
		color: $color-link-hover;
	}
	&:focus {
		color: $color-link;
		text-decoration: none;
	}
}
iframe {
	border: none;
	width: 100%;
}
.table {
	// lazy way, as we don't put table inside table
	th,
	td {
		border-color: #BBB !important;
	}
}
.table-like {
	display: table;
	
	> * {
		display: table-cell;
	}
}
.nowrap {
	display: inline-block; // nowrap doesn't work in WebKit
}



/* layout */
$media-w-1200-plus: "(min-width: 1200px)";
$media-w-992-plus: "(min-width: 992px)";
$media-w-mobile-plus: "(min-width: 768px)";
$media-w-716-plus: "(min-width: 716px)";

$media-w-1200-minus: "(max-width: 1199px)";
$media-w-992-minus: "(max-width: 991px)";
$media-w-mobile-minus: "(max-width: 767px)";
$media-w-716-minus: "(max-width: 715px)";

$header-height: 90px;
$header-height-mobile: 64px;
$footer-height: 170px;
$footer-height-home: 480px;

html, body {
	height: 100%;
}
body {
	margin: 0 auto;
}
#wrap {
	height: auto !important;
	margin: 0 auto $footer-height * -1;
	min-height: 100%;
}
#push, 
#footer {
	height: $footer-height;
}
body.home {
	#wrap {
		margin-bottom: $footer-height-home * -1;
	}
	#push, 
	#footer {
		height: $footer-height-home;
	}
}
#body {
	> :last-child {
		margin-bottom: 0;
	}
}
#header {
	margin-bottom: 0 !important;
	height: $header-height;
	
	@media #{$media-w-mobile-minus} {
		height: $header-height-mobile;
	}
	> .container {
		height: 100%;
	}
}
#footer {
	position: relative;
	
	> .container {
		position: relative;
		height: 100%;
	}
}
.container {
	padding: 10px;
}



/* header */
#header {
	border-bottom: none;
	
	.container {
		padding: 20px 16px;
		
		@media #{$media-w-mobile-minus} {
			padding: 0 16px;
		}
	}
	.navbar-brand {
		position: relative;
		width: 220px;
		margin-right: 8px;
		margin-left: -7px;
		background: 0 center transparent no-repeat;
		background-image: url('/img/bookshow-logo@2x.png');
		background-size: auto 48px;
		
		@media #{$media-w-mobile-minus} {
			width: 238px;
			background-image: url('/img/bookshow-logo-header@2x.png');
			background-size: auto 32px;
			margin-top: 7px;
			margin-left: 8px;
		}
		&::before {
			content: ' ';
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			left: 0;
			background: right center transparent no-repeat;
			background-image: url('/img/bookshow-title@2x.png');
			background-size: auto 16px;
			
			@media #{$media-w-mobile-minus} {
				display: none;
			}
		}
	}
	.navbar-toggle {
		width: 64px;
		height: 64px;
		padding: 14px 20px 12px 21px;
		margin: 0;
		border-radius: 0;
		color: $color-link;
		background: $color-gray-brown;
		
		&.collapsed {
			background: none;
		}
	}
	.header-menu-link {
		display: block;
		padding: 15px 10px;
		line-height: 20px;
		font-size: 20px;
		text-decoration: none;
		
		@media #{$media-w-mobile-minus} {
			padding: 10px !important;
		}
		&:hover,
		&:focus {
			background: none !important;
		}
		&.dropdown-toggle {
			cursor: pointer;
		}
		.caret {
			margin-left: 4px;
			margin-top: -4px;
			font-size: 24px;
		}
	}
	.open > .header-menu-link.dropdown-toggle {
		background: none;
	}
	.dropdown-menu {
		background: #EEE;
		
		.header-menu-link,
		.header-menu-link:focus {
			color: $color-link;
		}
		.header-menu-link:hover,
		.header-menu-link:focus:hover {
			color: $color-link-hover;
		}
		hr {
			margin: 8px;
			border-color: #DDD;
			
			@media #{$media-w-mobile-minus} {
				display: none;
			}
		}
	}
	#social-icons {
		text-align: center;
		
		@media #{$media-w-mobile-minus} {
			text-align: left;
		}
		> .header-menu-link {
			display: inline-block;
			font-size: 28px;
		}
		a.facebook {
			color: #3A589B;
		}
		a.google-plus {
			color: #D6492F;
		}
		a.youtube {
			color: #CF3427;
		}
	}
	.navbar-collapse {
		@media #{$media-w-mobile-minus} {
			max-height: none;
			border-bottom: 1px solid #FFF;
			background: $color-gray-brown;
			
			.navbar-nav {
				margin-top: 0;
				margin-bottom: 0;
			}
			.header-menu-link .caret {
				display: none;
			}
			.dropdown-menu {
				display: block;
				position: static;
				float: none;
				width: auto;
				margin-top: 0px;
				padding: 0;
				padding-left: 20px;
				background-color: transparent;
				border: 0px none;
				box-shadow: none;
			}
		}
	}
}



/* page menu */
.menu-link {
	display: inline-block;
	width: 400px;
	height: 100px;
	padding: 0;
	padding-top: 0;
	font-size: 72px;

/*
	width: 140px;
	height: 140px;
	padding: 0;
	padding-top: 100px;
	font-size: 30px;
*/
	border-radius: 15px;
	background: $color-gray-brown 0 0 no-repeat;
	background-image: url('/img/menu-icon.png');
	text-align: center;
	font-weight: bold;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	
	@media (max-width: 400px) {
		position: static !important;
		display: block;
		height: auto;
		width: auto;
		padding-top: 4px;
		background-image: none !important;
	}
	
	&.disabled {
		background-color: #D9D9D9;
		color: #523816;
		box-shadow: none;
	}
	&:hover {
		text-decoration: none;
	}
	&.space {
		background-position: 0 0;
	}
	&.studio {
		background-position: -140px 0;
	}
	&.presentation {
		background-position: -280px 0;
	}
	&.schedule {
		background-position: 0 -140px;
	}
	&.traffic {
		background-position: -140px -140px;
	}
	&.about {
		background-position: -280px -140px;
	}
}
.menu-panel {
	position: relative;
	/*
		background: $color-gray-brown 0 0 no-repeat;
		border-radius: 15px;
		padding: 15px 0;
	*/	
	> .menu-link {
		position: block;
		top: 15px;
		left: 0;
		box-shadow: none;
	}
}
.menu-desc {
	clear:both;
	margin: 15px 0;
	background: #DDD 0 0 no-repeat;
	border-radius: 10px;
	padding: 10px 15px;
	line-height: 32px;
	min-height: 140px;
	
	@media (max-width: 400px) {
		margin: 15px;
	}
}
.menu-sub-desc {
	font-size: 20px;
}
.menu-panel .photo-grid {
	margin: 0 15px;
		
	img {
		padding: 0;
		height: auto;
		border: 1px solid #CCC;
	}
}
.related-page {
	position: relative;
	min-height: 140px;
	padding-left: 140px;
	margin-top: 16px;
	
	@media (max-width: 400px) {
		padding-left: 0;
	}
	> .menu-link {
		position: absolute;
		left: 0;
		top: 0;
		
		+ * {
			@media (max-width: 400px) {
				margin-top: 8px;
			}
		}
	}
	> .table-like {
		height: 140px; // table height means min-height
		
		> * {
			padding: 0 16px;
			margin: 0;
			vertical-align: middle;
		}
	}
}



/* footer */
#footer {
	text-align: center;
	
	hr {
		margin: 0 -5px 10px -5px;
		border-color: $color-gray-brown;
	}
	.fa {
		color: #666;
	}
	> .container > div {
		padding-bottom: 5px;
	}
	.footer-item {
		margin: 0 16px;
	}
}
#google-maps-image {
	display: inline-block;
	width: 100%;
	height: 300px;
	max-width: 600px;
	background: transparent right center no-repeat;
	background-image: url('/img/map.jpg');
}



/* index */
body.home {
	position: relative;
	
	#header {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		z-index: 5;
		background: none;
	}
	section.bgblue  {background:#3cf;}
	section.bgyellow {background:#fc3;}
	section {
		position: relative;
		overflow: hidden;
		margin: 0;
		padding:50px 0;

		&.container {
			padding: 0;
		}
		&:not(.container) {
			width: 100%;
		}
        &.full {
			height: 100vh;
        }
		&.vertical-center {
			> div {
				height: 100%;
				width: 100%;
				
				> div {
					height: 100%;
					vertical-align: middle;
				}
			}
		}
	}
	#first {
		background: no-repeat center center transparent;
		background-image: url("/img/photo/space_00_1920.jpg");
		background-size: cover;
	}
}
#other-pages .menu-link {
	margin-right: 10px;
	margin-bottom: 17px;
}



/* subpage */
.page {
	font-size: 20px;
	line-height: 150%;
	
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 24px;
	}
	.small {
		font-size: 20px;
	}
	.table th,
	.table td {
		padding: 5px 8px;
		font-weight: normal;
	}
}
.page-section {
	clear: both;
	padding-top: 32px;
	
	> * {
		clear: both;
		margin: 0;
	}
	> *,
	> h2 + h3 {
		margin-top: 12px;
	}
	> :first-child {
		margin-top: 0;
	}
	> h2 {
		margin-top: 32px;
	}
	> h3 {
		margin-top: 24px;
	}
	> .related-page {
		margin-top: 16px;
	}
	.table-container {
		padding: 0 16px;
	}
}
.page-section,
.page-summary > span {
	> p + p {
		margin-top: 20px;
	}
}
.page-summary {
	text-align: center;
	
	> span {
		display: inline-block;
		text-align: left;
		
		> p {
			margin: 0;
		}
	}
}
.page-desc {
	font-weight: bold;
}
.page-section #google-maps {
	height: 350px;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
#google-calendar {
	height: 440px;
}
#google-form {
	height: 535px;
}
#space-pricing,
#studio-spec-table,
#business-flow {
	@media (max-width: 440px) {
		font-size: 18px;
	}
	@media (max-width: 400px) {
		font-size: 16px;
	}
	@media (max-width: 360px) {
		font-size: 14px;
	}
}
#business-flow {
	position: relative;
	font-size: 20px;
	
	&,
	.layer {
		padding: 0 10px;
	}
	.layer {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0; 
		right: 0;
	}
	.row {
		margin: 0;
		
		&.full-height, 
		&.full-height > * {
			height: 100%;
		}
	}
	.box {
		padding: 12px;
		
		> * {
			text-align: center;
			padding: 5px 4px 3px 4px;
			border-radius: 10px;
			border: 2px solid rgba(0, 0, 0, 0.2);
			background: transparent 0 0 no-repeat;
		}
		&.visit > * {
			background-color: #C2DBF3;
		}
		&.event > * {
			background-color: #F2C2DA;
		}
		&.studio > * {
			background-color: #DAF2C2;
		}
		&.payment > * {
			background-color: #F2EAC2;
		}
		&.all > * {
			background-color: #F8F8F8;
		}
		&.comment > * {
			border: none;
			padding: 0;
		}
	}
	.layer.background {
		z-index: -1;
	}
	.flow-arrow {
		position: relative;
		height: 100%;
		width: 96px;
		margin: 0 auto;
		padding-bottom: 60px;
		text-align: center;
		
		&::before,
		&::after {
			content: ' ';
			display: block;
		}
		&::before {
			width: 48px;
			height: 100%;
			margin: 0 auto;
			background: rgba(0, 0, 0, 0.1);
		}
		&::after {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 12px;
			border: 48px solid transparent;
			border-bottom: none;
			border-top: 48px solid rgba(0, 0, 0, 0.1);
			height: 48px;
		}
	}
}
#studio-spec-table {
	width: 100%;
	background: #F8F8F8;
	
	&,
	th {
		text-align: center;
	}
	th,
	td {
		vertical-align: middle;
		padding: 4px 0 2px 0;
	}
	tr > :first-child {
		background: #EEE;
	}
	.blue {
		background: #CFE2F3;
	}
	.dark.blue {
		background: #9FC5E8;
	}
	.green {
		background: #D9EAD3;
	}
	.dark.green {
		background: #B6D7A8;
	}
	.orange {
		background: #FFF2CC;
	}
	.dark.orange {
		background: #FCE5CD;
	}
	.yes::after,
	.no::after {
		display: inline;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 22px;
		font-size: 22px;
		color: #555;
	}
	.yes::after {
		content: "\f00c";
	}
	.no::after {
		content: "\f00d";
	}
	.no {
		background: #EEE;
	}
}
#qr-code {
	> img {
		display: inline-block;
	}
	> ul {
		display: inline-block;
		padding: 10px;
		max-width: 370px;
	}
}



/* photo flow */
.photo-flow {
	position: relative;
	margin-top: 30px;
	margin-bottom: 20px;
	
	&::after {
		display: block;
		content: ' ';
		clear: both;
	}
	> * {
		float: left;
	}
	> img {
		height: auto;
		cursor: pointer;
	}
	&.col-1,
	&.col-2,
	&.col-3,
	&.col-4 {
		> * {
			border: 1px solid transparent;
		}
	}
	&.col-1 > * {
		width: 100%;
		border-radius: 10px;
	}
	&.col-2 > * {
		width: 50%;
	}
	&.col-3 > * {
		width: 33.3333%;
		
		&:first-child {
			width: 66.6667%;
		}
	}
	&.col-4 > * {
		width: 25%;
		
		&:first-child {
			width: 75%;
		}
	}
}

/* photo display */
#photo-display {
	.table-like {
		width: 100%;
		height: 100%;
		
		> * {
			vertical-align: middle;
		}
	}
	.modal-dialog {
		width: auto;
		padding: 10px;
		margin: 0;
		text-align: center;
	}
	.modal-content,
	.modal-body {
		display: inline-block;
	}
}

/* icon */
.fa-cus-ul {
	padding: 0;
	padding-left: 24px;
	list-style: none;
	
	> li {
		position: relative;
		padding-left: 25px;
		
		&::before {
			position: absolute;
			display: inline-block;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			left: 2px;
			top: 10px;
			font-size: 16px;
			color: #666;
		}
	}
}
.fa-cus-sun-o::before {
	content: "\f185";
}
.fa-cus-user::before {
	content: "\f007";
}
.fa-cus-magic::before {
	content: "\f0d0";
}
.fa-cus-microphone::before {
	content: "\f130";
}
.fa-cus-heart::before {
	content: "\f004";
}
.fa-cus-check-circle::before {
	content: "\f058";
}
.fa-cus-location-arrow::before {
	content: "\f124";
}
.fa-cus-video-camara::before {
	content: "\f03d";
}


