/* base setting */
body, h1, h2, h3 {
	font-family: Arial, Helvetica, FreeSans, "蘋果儷中黑", "微軟正黑體", sans-serif;
}
body, #header {
	background: transparent center 0 repeat;
	background-image: url('/img/bg_fabric_plaid_@2X.png');
	background-size: 200px auto;
}
body {
	font-size: 20px;
}
h1, h2, h3 {
	font-weight: bold;
}
a {
	color: #AA1919;
}
a:hover, 
a:focus:hover {
	color: #CC3333;
}
a:focus {
	color: #AA1919;
	text-decoration: none;
}
iframe {
	border: none;
	width: 100%;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.table th,
.table td { /* lazy way, as we don't put table inside table */
	border-color: #BBB !important;
}
.table-like {
	display: table;
}
.table-like > * {
	display: table-cell;
}
.nowrap {
	display: inline-block; /* nowrap doesn't work in WebKit */
	/* white-space: nowrap; */
}



/* layout */
html, body {
	height: 100%;
}
body {
	margin: 0 auto;
}
#wrap {
	height: auto !important;
	margin: 0 auto -170px; /* footer height */
	min-height: 100%;
}
#push, #footer {
	height: 170px; /* footer height */
}
body.home #wrap {
	margin-bottom: -480px; /* footer height (home) */
}
body.home #push, 
body.home #footer {
	height: 480px; /* footer height (home) */
}
#body {
	padding-top: 64px !important; /* header height */
}
#body > :last-child {
	margin-bottom: 0;
}
#header {
	position: fixed !important;
	margin-bottom: 0 !important;
	height: 64px; /* header height */
}
#header > .container {
	height: 100%;
}
#footer {
	position: relative;
}
#footer > .container {
	position: relative;
	height: 100%;
}
.container {
	padding: 10px;
}

@media (min-width: 768px) {
	#body {
		padding-top: 90px !important; /* header height */
	}
	#header {
		height: 90px; /* header height */
	}
}
@media (min-width: 992px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 750px;
	}
}



/* header */
#header {
	border-bottom: none;
}
#header .container {
	padding: 20px 16px;
}
#header .navbar-brand {
	width: 72px;
	margin-right: 8px;
	margin-left: -7px;
	background: center center transparent no-repeat;
	background-image: url('/img/bookshow-logo@2x.png');
	background-size: auto 48px;
}
#header .navbar-toggle {
	width: 64px;
	height: 64px;
	padding: 14px 20px 12px 21px;
	margin: 0;
	border-radius: 0;
	color: #AA1919;
	background: #C8C0B8;
}
#header .navbar-toggle.collapsed {
	background: none;
}
#header .header-menu-link {
	display: block;
	padding: 15px 10px !important;
	line-height: 20px;
	font-size: 20px;
}
#header .header-menu-link:hover,
#header .header-menu-link:focus {
	background: none !important;
}
#social-menu {
	display: none;
	position: absolute;
	right: 64px;
	top: 0;
	padding: 10px;
}
#social-menu > a {
	display: inline-block;
	float: right;
	width: 44px;
	height: 44px;
	padding-left: 4px;
	padding-top: 2px;
	background: transparent no-repeat 0 0;
	font-size: 40px;
	line-height: 44px;
	color: #AAA;
}
#social-menu a:hover,
#social-menu a:focus {
	color: #AAA;
	text-decoration: none;
}
#social-menu a.facebook:hover {
	color: #3A589B;
}
#social-menu a.google-plus:hover {
	color: #D6492F;
}
#social-menu a.youtube:hover {
	color: #CF3427;
}
@media (max-width: 767px) {
	#header .container {
		padding: 0 16px;
	}
	#header .navbar-brand {
		width: 238px;
		background-image: url('/img/bookshow-logo-header@2x.png');
		background-size: auto 32px;
		margin-top: 7px;
		margin-left: 8px;
	}
	#header .navbar-collapse {
		border-bottom: 1px solid #FFF;
		background: #C8C0B8;
	}
	#header .navbar-collapse .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	#social-menu {
		display: inline-block;
	}
}



/* page menu */
.menu-link {
	display: inline-block;
	width: 140px;
	height: 140px;
	padding: 0;
	padding-top: 100px;
	border-radius: 15px;
	background: #C8C0B8 0 0 no-repeat;
	background-image: url('/img/menu-icon.png');
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.menu-link.disabled {
	background-color: #D9D9D9;
	color: #523816;
	box-shadow: none;
}
.menu-link:hover {
	text-decoration: none;
}
.menu-link.space {
	background-position: 0 0;
}
.menu-link.studio {
	background-position: -140px 0;
}
.menu-link.presentation {
	background-position: -280px 0;
}
.menu-link.schedule {
	background-position: 0 -140px;
}
.menu-link.traffic {
	background-position: -140px -140px;
}
.menu-link.about {
	background-position: -280px -140px;
}
.menu-panel {
	position: relative;
	background: #C8C0B8 0 0 no-repeat;
	border-radius: 15px;
	padding: 15px 0;
}
.menu-panel > .menu-link {
	position: absolute;
	top: 15px;
	left: 0;
	box-shadow: none;
}
.menu-desc {
	margin: 0 15px 15px 140px;
	background: #DDD 0 0 no-repeat;
	border-radius: 10px;
	padding: 10px 15px;
	line-height: 32px;
	min-height: 140px;
}
.menu-sub-desc {
	font-size: 20px;
}
.menu-panel .photo-grid {
	margin: 0 15px;
}
.menu-panel .photo-grid img {
	padding: 0;
	height: auto;
	border:1px solid #CCC;
}
.related-page {
	position: relative;
	min-height: 140px;
	padding-left: 140px;
	margin-top: 16px;
}
.related-page > .menu-link {
	position: absolute;
	left: 0;
	top: 0;
}
.related-page > .table-like {
	height: 140px; /* table height means min-height */
}
.related-page > .table-like > * {
	padding: 0 16px;
	margin: 0;
	vertical-align: middle;
}
@media (max-width: 400px) {
	.menu-link {
		position: static !important;
		display: block;
		height: auto;
		width: auto;
		padding-top: 4px;
		background-image: none !important;
	}
	.menu-desc {
		margin: 15px;
	}
	.related-page {
		padding-left: 0;
	}
	.related-page > .menu-link + * {
		margin-top: 8px;
	}
}



/* footer */
#footer {
	text-align: center;
}
#footer hr {
	margin: 0 -5px 10px -5px;
	border-color: #C8C0B8;
}
#footer .fa {
	color: #666;
}
#footer > .container > div {
	padding-bottom: 5px;
}
#footer .footer-item {
	margin: 0 16px;
}
#google-maps-image {
	display: inline-block;
	width: 100%;
	height: 300px;
	max-width: 600px;
	background: transparent right center no-repeat;
	background-image: url('/img/map.jpg');
}



/* index */
body.home #body > * {
	margin-bottom: 16px;
}
#soapbox {
	position: relative;
}
#soapbox > span {
	display: inline-block;
	position: absolute;
	left: 16px;
	bottom: 16px;
	color: #FFF;
	text-shadow: 0 0 3px #000;
}
#other-pages .menu-link {
	margin-right: 10px;
	margin-bottom: 17px;
}
#value-proposition {
	pointer-events: none;
}



/* subpage */
.page {
	font-size: 20px;
	line-height: 150%;
}
.page h2 {
	font-size: 30px;
}
.page h3 {
	font-size: 24px;
}
.page .small {
	font-size: 20px;
}
.page .table th,
.page .table td {
	padding: 5px 8px;
	font-weight: normal;
}
.page-section {
	clear: both;
	padding-top: 32px;
}
.page-section > * {
	clear: both;
	margin: 0;
}
.page-section > *,
.page-section > h2 + h3 {
	margin-top: 12px;
}
.page-section > :first-child {
	margin-top: 0;
}
.page-section > h2 {
	margin-top: 32px;
}
.page-section > h3 {
	margin-top: 24px;
}
.page-section > p + p,
.page-summary > span > p + p {
	margin-top: 20px;
}
.page-section > .related-page {
	margin-top: 16px;
}
.page-section .table-container {
	padding: 0 16px;
}
.page-summary {
	text-align: center;
}
.page-summary > span {
	display: inline-block;
	text-align: left;
}
.page-summary  > span > p {
	margin: 0;
}
.page-desc {
	font-weight: bold;
}
.page-section #google-maps {
	height: 350px;
}
#google-calendar {
	height: 440px;
}
#google-form {
	height: 535px;
}
#business-flow {
	position: relative;
	font-size: 20px;
}
#business-flow,
#business-flow .layer {
	padding: 0 10px;
}
#business-flow .layer {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0; 
	right: 0;
}
#business-flow .row {
	margin: 0;
}
#business-flow .row.full-height, 
#business-flow .row.full-height > * {
	height: 100%;
}
#business-flow .box {
	padding: 12px;
}
#business-flow .box > * {
	text-align: center;
	padding: 5px 4px 3px 4px;
	border-radius: 10px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	background: transparent 0 0 no-repeat;
}
#business-flow .box.visit > * {
	background-color: #C2DBF3;
}
#business-flow .box.event > * {
	background-color: #F2C2DA;
}
#business-flow .box.studio > * {
	background-color: #DAF2C2;
}
#business-flow .box.payment > * {
	background-color: #F2EAC2;
}
#business-flow .box.all > * {
	background-color: #F8F8F8;
}
#business-flow .box.comment > * {
	border: none;
	padding: 0;
}
#business-flow .layer.background {
	z-index: -1;
}
#business-flow .flow-arrow {
	position: relative;
	height: 100%;
	width: 96px;
	margin: 0 auto;
	padding-bottom: 60px;
	text-align: center;
}
#business-flow .flow-arrow::before,
#business-flow .flow-arrow::after {
	content: ' ';
	display: block;
}
#business-flow .flow-arrow::before {
	width: 48px;
	height: 100%;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.1);
}
#business-flow .flow-arrow::after {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 12px;
	border: 48px solid transparent;
	border-bottom: none;
	border-top: 48px solid rgba(0, 0, 0, 0.1);
	height: 48px;
}
#studio-spec-table {
	width: 100%;
	background: #F8F8F8;
}
#studio-spec-table,
#studio-spec-table th {
	text-align: center;
}
#studio-spec-table th,
#studio-spec-table td {
	vertical-align: middle;
	padding: 4px 0 2px 0;
}
#studio-spec-table tr > :first-child {
	background: #EEE;
}
#studio-spec-table .blue {
	background: #CFE2F3;
}
#studio-spec-table .dark.blue {
	background: #9FC5E8;
}
#studio-spec-table .green {
	background: #D9EAD3;
}
#studio-spec-table .dark.green {
	background: #B6D7A8;
}
#studio-spec-table .orange {
	background: #FFF2CC;
}
#studio-spec-table .dark.orange {
	background: #FCE5CD;
}
#studio-spec-table .yes::after,
#studio-spec-table .no::after {
	display: inline;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 22px;
	font-size: 22px;
	color: #555;
}
#studio-spec-table .yes::after {
	content: "\f00c";
}
#studio-spec-table .no::after {
	content: "\f00d";
}
#studio-spec-table .no {
	background: #EEE;
}
#qr-code > img {
	display: inline-block;
}
#qr-code > ul {
	display: inline-block;
	padding: 10px;
	max-width: 370px;
}
@media (max-width: 440px) {
	#space-pricing,
	#studio-spec-table,
	#business-flow {
		font-size: 18px;
	}
}
@media (max-width: 400px) {
	#space-pricing,
	#studio-spec-table,
	#business-flow {
		font-size: 16px;
	}
}
@media (max-width: 360px) {
	#space-pricing,
	#studio-spec-table,
	#business-flow {
		font-size: 14px;
	}
}



/* photo flow */
.photo-flow {
	position: relative;
	margin-top: 30px;
	margin-bottom: 20px;
}
.photo-flow::after {
	display: block;
	content: ' ';
	clear: both;
}
.photo-flow > * {
	float: left;
}
.photo-flow > img {
	height: auto;
	cursor: pointer;
}
.photo-flow.col-1 > *,
.photo-flow.col-2 > *,
.photo-flow.col-3 > *,
.photo-flow.col-4 > * {
	border: 1px solid transparent;
}
.photo-flow.col-1 > * {
	width: 100%;
	border-radius: 10px;
}
.photo-flow.col-2 > * {
	width: 50%;
}
.photo-flow.col-3 > * {
	width: 33.3333%;
}
.photo-flow.col-3 > *:first-child {
	width: 66.6667%;
}
.photo-flow.col-4 > * {
	width: 25%;
}
.photo-flow.col-4 > *:first-child {
	width: 75%;
}

/* photo display */
#photo-display .table-like {
	width: 100%;
	height: 100%;
}
#photo-display .table-like > * {
	vertical-align: middle;
}
#photo-display .modal-dialog {
	width: auto;
	padding: 10px;
	margin: 0;
	text-align: center;
}
#photo-display .modal-content,
#photo-display .modal-body {
	display: inline-block;
}

/* icon */
.fa-cus-ul {
	padding: 0;
	padding-left: 24px;
	list-style: none;
}
.fa-cus-ul > li {
	position: relative;
	padding-left: 25px;
}
.fa-cus-ul > li:before {
	position: absolute;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	left: 2px;
	top: 10px;
	font-size: 16px;
	color: #666;
}
.fa-cus-sun-o:before {
	content: "\f185";
}
.fa-cus-user:before {
	content: "\f007";
}
.fa-cus-magic:before {
	content: "\f0d0";
}
.fa-cus-microphone:before {
	content: "\f130";
}
.fa-cus-heart:before {
	content: "\f004";
}
.fa-cus-check-circle:before {
	content: "\f058";
}
.fa-cus-location-arrow:before {
	content: "\f124";
}
.fa-cus-video-camara:before {
	content: "\f03d";
}


