---
---

// TODO: move to somewhere else?
$color-turquoise: #216F9B;
$color-gray-4a: #4A4A4A;
$color-gray-brown: #C8C0B8; // TODO: unused

$color-link: $color-turquoise;
$color-link-hover: $color-turquoise;
//$color-link-disabled: #AAA;

@import 'reset';
@import 'layout';
@import 'icon';

.compact {
	margin: 0 auto;
	display: inline-block;
}
.left-aligned {
	text-align: left;
}
.tab-pane {
	.navigator {
		cursor: pointer;
		
		&.previous,
		&.next {
			display: inline-block;
			position: relative;
			width: 28px;
			height: 56px;
		}
		&.previous::before {
			content: '<';
		}
		&.next::after {
			content: '>';
		}
	}
}

@import 'header';
@import 'footer';

@import 'index';

/*
.menu-link {
	display: inline-block;
	width: 400px;
	height: 100px;
	padding: 0;
	padding-top: 0;
	font-size: 72px;
	border-radius: 15px;
	background: $color-gray-brown 0 0 no-repeat;
	background-image: url('/img/menu-icon.png');
	text-align: center;
	font-weight: bold;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	
	@media (max-width: 400px) {
		position: static !important;
		display: block;
		height: auto;
		width: auto;
		padding-top: 4px;
		background-image: none !important;
	}
	
	&.disabled {
		background-color: #D9D9D9;
		color: #523816;
		box-shadow: none;
	}
	&:hover {
		text-decoration: none;
	}
	&.space {
		background-position: 0 0;
	}
	&.studio {
		background-position: -140px 0;
	}
	&.presentation {
		background-position: -280px 0;
	}
	&.schedule {
		background-position: 0 -140px;
	}
	&.traffic {
		background-position: -140px -140px;
	}
	&.about {
		background-position: -280px -140px;
	}
}
.menu-panel {
	position: relative;
	> .menu-link {
		position: block;
		top: 15px;
		left: 0;
		box-shadow: none;
	}
}
.menu-desc {
	clear:both;
	margin: 15px 0;
	background: #DDD 0 0 no-repeat;
	border-radius: 10px;
	padding: 10px 15px;
	line-height: 32px;
	min-height: 140px;
	
	@media (max-width: 400px) {
		margin: 15px;
	}
}
.menu-sub-desc {
	font-size: 20px;
}
.menu-panel .photo-grid {
	margin: 0 15px;
		
	img {
		padding: 0;
		height: auto;
		border: 1px solid #CCC;
	}
}
.related-page {
	position: relative;
	min-height: 140px;
	padding-left: 140px;
	margin-top: 16px;
	
	@media (max-width: 400px) {
		padding-left: 0;
	}
	> .menu-link {
		position: absolute;
		left: 0;
		top: 0;
		
		+ * {
			@media (max-width: 400px) {
				margin-top: 8px;
			}
		}
	}
	> .table-like {
		height: 140px; // table height means min-height
		
		> * {
			padding: 0 16px;
			margin: 0;
			vertical-align: middle;
		}
	}
}
.page {
	font-size: 20px;
	line-height: 150%;
	
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 24px;
	}
	.small {
		font-size: 20px;
	}
	.table th,
	.table td {
		padding: 5px 8px;
		font-weight: normal;
	}
}
.page-section {
	clear: both;
	padding-top: 32px;
	
	> * {
		clear: both;
		margin: 0;
	}
	> *,
	> h2 + h3 {
		margin-top: 12px;
	}
	> :first-child {
		margin-top: 0;
	}
	> h2 {
		margin-top: 32px;
	}
	> h3 {
		margin-top: 24px;
	}
	> .related-page {
		margin-top: 16px;
	}
	.table-container {
		padding: 0 16px;
	}
}
.page-section,
.page-summary > span {
	> p + p {
		margin-top: 20px;
	}
}
.page-summary {
	text-align: center;
	
	> span {
		display: inline-block;
		text-align: left;
		
		> p {
			margin: 0;
		}
	}
}
.page-desc {
	font-weight: bold;
}
.page-section #google-maps {
	height: 350px;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
#google-calendar {
	height: 440px;
}
#google-form {
	height: 535px;
}
#space-pricing,
#studio-spec-table,
#business-flow {
	@media (max-width: 440px) {
		font-size: 18px;
	}
	@media (max-width: 400px) {
		font-size: 16px;
	}
	@media (max-width: 360px) {
		font-size: 14px;
	}
}
#business-flow {
	position: relative;
	font-size: 20px;
	
	&,
	.layer {
		padding: 0 10px;
	}
	.layer {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0; 
		right: 0;
	}
	.row {
		margin: 0;
		
		&.full-height, 
		&.full-height > * {
			height: 100%;
		}
	}
	.box {
		padding: 12px;
		
		> * {
			text-align: center;
			padding: 5px 4px 3px 4px;
			border-radius: 10px;
			border: 2px solid rgba(0, 0, 0, 0.2);
			background: transparent 0 0 no-repeat;
		}
		&.visit > * {
			background-color: #C2DBF3;
		}
		&.event > * {
			background-color: #F2C2DA;
		}
		&.studio > * {
			background-color: #DAF2C2;
		}
		&.payment > * {
			background-color: #F2EAC2;
		}
		&.all > * {
			background-color: #F8F8F8;
		}
		&.comment > * {
			border: none;
			padding: 0;
		}
	}
	.layer.background {
		z-index: -1;
	}
	.flow-arrow {
		position: relative;
		height: 100%;
		width: 96px;
		margin: 0 auto;
		padding-bottom: 60px;
		text-align: center;
		
		&::before,
		&::after {
			content: ' ';
			display: block;
		}
		&::before {
			width: 48px;
			height: 100%;
			margin: 0 auto;
			background: rgba(0, 0, 0, 0.1);
		}
		&::after {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 12px;
			border: 48px solid transparent;
			border-bottom: none;
			border-top: 48px solid rgba(0, 0, 0, 0.1);
			height: 48px;
		}
	}
}
#studio-spec-table {
	width: 100%;
	background: #F8F8F8;
	
	&,
	th {
		text-align: center;
	}
	th,
	td {
		vertical-align: middle;
		padding: 4px 0 2px 0;
	}
	tr > :first-child {
		background: #EEE;
	}
	.blue {
		background: #CFE2F3;
	}
	.dark.blue {
		background: #9FC5E8;
	}
	.green {
		background: #D9EAD3;
	}
	.dark.green {
		background: #B6D7A8;
	}
	.orange {
		background: #FFF2CC;
	}
	.dark.orange {
		background: #FCE5CD;
	}
	.yes::after,
	.no::after {
		display: inline;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 22px;
		font-size: 22px;
		color: #555;
	}
	.yes::after {
		content: "\f00c";
	}
	.no::after {
		content: "\f00d";
	}
	.no {
		background: #EEE;
	}
}
#qr-code {
	> img {
		display: inline-block;
	}
	> ul {
		display: inline-block;
		padding: 10px;
		max-width: 370px;
	}
}
*/


/* photo flow */
/*
.photo-flow {
	position: relative;
	margin-top: 30px;
	margin-bottom: 20px;
	
	&::after {
		display: block;
		content: ' ';
		clear: both;
	}
	> * {
		float: left;
	}
	> img {
		height: auto;
		cursor: pointer;
	}
	&.col-1,
	&.col-2,
	&.col-3,
	&.col-4 {
		> * {
			border: 1px solid transparent;
		}
	}
	&.col-1 > * {
		width: 100%;
		border-radius: 10px;
	}
	&.col-2 > * {
		width: 50%;
	}
	&.col-3 > * {
		width: 33.3333%;
		
		&:first-child {
			width: 66.6667%;
		}
	}
	&.col-4 > * {
		width: 25%;
		
		&:first-child {
			width: 75%;
		}
	}
}
*/

