---
---

@import '_base';

body.pricing {
	
	.u-block {
		width: 270px;
		margin: 0 auto;
		padding-top: 24px;
		
		.btn {
			width: 100%;
		}
	}
	#form {
		.u-block {
			position: relative;
			
			.u-block-title,
			.u-suffix {
				font-size: 16px;
				color: #8D8D8D;
			}
			.u-block-title {
				display: block;
				height: 24px;
				margin-left: -16px;
			}
			.u-suffix {
				position: absolute;
				left: 100%;
				bottom: -4px;
				padding-left: 12px;
			}
			.u-total {
				font-size: 48px;
				padding-bottom: 8px;
				padding-left: 14px;
				line-height: 48px;
				
				&::after {
					content: '';
					position: absolute;
					display: block;
					height: 15px;
					bottom: 0;
					left: 0;
					right: 0;
					border: 2px solid #979797;
					border-top: none;
				}
			}
		}
		.u-criterion {
			position: relative;
			margin-top: 12px;
			
			.u-button {
				font-size: 18px;
			}
			.u-check {
				position: absolute;
				left: 100%;
				top: 0;
				bottom: 0;
				width: 40px;
				padding: 6px 12px;
				color: $color-turquoise;
				display: none;
			}
			.u-intbox {
				position: absolute;
				right: 0;
				bottom: 0;
				display: inline-block;
				width: 90px;
				line-height: 40px;
				font-size: 16px;
				text-align: right;
				
				.u-minus,
				.u-plus {
					cursor: pointer;
				}
			}
			&.per-unit {
				padding-right: 90px;
			}
			&.disabled {
				.u-button {
					background: none !important;
					border-color: transparent;
					box-shadow: none !important;
					cursor: default;
				}
				.u-minus,
				.u-plus {
					visibility: hidden;
				}
			}
			&.selected {
				.u-button {
					background: #F5F5F5;
				}
				.u-check {
					display: inline-block;
				}
			}
			&.min .u-minus,
			&.max .u-plus {
				visibility: hidden;
			}
		}	
	}
	section.cta {
		.btn {
			margin: 0;
		}
	}
}
