---
---

@import '_base';

body.pricing {
	
	#body {
		padding-bottom: $lg-space;
	}
	hr {
		border-color: #AAA;
	}
	.u-left,
	.u-right {
		padding-left: 48px;
		padding-right: 48px;
	}
	.u-left {
		text-align: right;
	}
	.u-right {
		text-align: left;
	}
	.u-block {
		display: inline-block;
		position: relative;
		width: 100%;
		max-width: 270px;
		padding-top: 24px;
		text-align: left;
		
		.btn {
			width: 100%;
		}
		&.continued {
			padding-top: 48px; // TODO: use margin
		}
		&.u-submit-container {
			padding-top: 45px; // TODO: ad-hoc
		}
		&.u-total-container {
			padding-top: 5px;
		}
		&.u-contact-us-container {
			padding-top: 24px;
			
			.u-note {
				margin: 0 -24px;
			}
		}
	}
	#form { // TODO: pull some rules out of this
		.u-block {
			.u-block-title,
			.u-suffix,
			.u-note {
				color: #8D8D8D; // TODO
			}
			.u-note {
				font-size: 15px;
				text-align: center;
				margin: 4px -4px 0px;
			}
			.u-criterion.disabled + .u-note {
				margin-top: 0;
			}
			.u-block-title {
				display: block;
				height: 24px;
				margin-left: -18px;
				font-size: 18px;
			}
			.u-suffix {
				position: absolute;
				left: 100%;
				bottom: -4px;
				padding-left: 12px;
				font-size: 16px;
			}
			.u-total {
				font-size: 48px;
				padding-bottom: 8px;
				padding-left: 14px;
				line-height: 48px;
				
				&::after {
					white-space: pre;
					content: ' ';
				}
				&::before {
					content: '';
					position: absolute;
					display: block;
					height: 15px;
					bottom: 0;
					left: 0;
					right: 0;
					border: 2px solid #979797;
					border-top: none;
				}
			}
		}
		.u-criterion {
			position: relative;
			margin-top: 12px;
			
			.u-button {
				font-size: 18px;
			}
			.u-check {
				position: absolute;
				left: 100%;
				top: 0;
				bottom: 0;
				width: 40px;
				padding: 6px 12px;
				color: $color-turquoise;
				display: none;
			}
			.u-intbox {
				position: absolute;
				right: 0;
				bottom: 0;
				display: inline-block;
				width: 90px;
				line-height: 40px;
				font-size: 16px;
				text-align: right;
				
				.u-minus,
				.u-plus {
					cursor: pointer;
				}
			}
			&.per-unit {
				padding-right: 90px;
			}
			&.disabled {
				.u-button {
					background: none !important;
					border-color: transparent;
					box-shadow: none !important;
					cursor: default;
				}
				.u-minus,
				.u-plus {
					visibility: hidden;
				}
			}
			&.selected {
				.u-button {
					background: #F5F5F5;
				}
				.u-check {
					display: inline-block;
				}
			}
			&.min .u-minus,
			&.max .u-plus {
				visibility: hidden;
			}
		}	
	}
	@media #{$media-w-716-minus} {
		.u-left,
		.u-right {
			width: 100%;
			text-align: center;
		}
		.u-block {
			&.continued,
			&.u-submit-container {
				padding-top: 0;
			}
		}
	}
}
