.nowrap {
	display: inline-block; // nowrap doesn't work in WebKit
}
.compact {
	display: inline-block;
	margin: 0 auto;
}
.full {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.intangible {
	pointer-events: none;
}
.table-like {
	display: table;
	
	> * {
		display: table-cell;
	}
}
ul.unstyled {
	list-style: none;
	padding: 0;
}
// TODO: rename
.center-aligned {
	text-align: center;
}
.left-aligned {
	text-align: left;
}
.object-fit {
	position: relative;
	
	> .taller,
	> .wider {
		position: absolute;
		left: -100%;
		right: -100%;
		top: -100%;
		bottom: -100%;
		margin: auto;
		//max-width: none;
		//max-height: none;
	}
	> .taller {
		width: 100%;
		height: auto;
		//max-width: none;
	}
	> .wider {
		width: auto;
		height: 100%;
	}
}



.subtitle-text {
	color: #FFF;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.push-par {
	margin-top: $paragraph-space;
}
.push-sec {
	margin-top: $section-space;
}
// TODO: refactor .u-left, .u-right
.tab-pane {
	.navigator {
		cursor: pointer;
		
		&.previous,
		&.next {
			display: inline-block;
			position: relative;
		}
		&.md {
			@extend .subtitle-text;
			overflow: hidden;
			font-size: 108px;
			
			&::before {
				position: absolute;
			}
		}
		&.md-chevron-left,
		&.md-chevron-right {
			width: 40px;
			height: 64px;
		}
		&.md-chevron-left {
			&::before {
				top: -37px;
				left: -34px;
			}
		}
		&.md-chevron-right {
			&::before {
				top: -37px;
				left: -36px;
			}
		}
	}
	&:first-child .navigator.previous,
	&:last-child .navigator.next {
		display: none;
	}
}
.turquoise-text {
	color: $color-turquoise;
}
.btn {
	font-size: 18px;
	outline: none !important;
}
.btn-default,
.btn-secondary,
.btn-primary {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	
	&.active:not(.disabled),
	&:active:not(.disabled) {
		margin-top: 1px !important;
		margin-bottom: -1px !important;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	}
}
.btn-ghost {
	border-width: 2px;
	
	&,
	&.focus,
	&:focus {
		border-color: #FFF;
		color: #FFF;
		background: none;
	}
	&:hover,
	&:focus:hover {
		border-color: #FFF;
		color: #FFF;
		background: rgba(255, 255, 255, 0.2);
	}
}
.btn-default {
	&,
	&.focus,
	&:focus {
		//border-color: $color-gray;
		border-color: transparent;
		color: $color-gray;
		background: #FFF;
	}
	&:hover,
	&:focus:hover {
		//border-color: $color-gray;
		border-color: transparent;
		color: $color-gray;
		background: #F2F2F2;
	}
}
.btn-secondary {
	&,
	&.focus,
	&:focus {
		//border-color: $color-turquoise;
		border-color: transparent;
		color: $color-turquoise;
		background: #FFF;
	}
	&:hover,
	&:focus:hover {
		//border-color: $color-turquoise;
		border-color: transparent;
		color: $color-turquoise;
		background: #F2F2F2;
	}
}
.btn-primary {
	$color-stop-1: #3D7EA3;
	$color-stop-2: $color-turquoise;
	
	//$color-stop-1-hover: darken($color-stop-1, 5%);
	//$color-stop-2-hover: darken($color-stop-2, 5%);
	$color-stop-1-hover: mix(#000, $color-stop-1, 20%);
	$color-stop-2-hover: mix(#000, $color-stop-2, 20%);
	
	&,
	&.focus,
	&:focus {
		border-color: transparent;
		color: #FFF;
		background: radial-gradient(circle, $color-stop-1, $color-stop-2);
	}
	&:hover,
	&:focus:hover {
		background: radial-gradient(circle, $color-stop-1-hover, $color-stop-2-hover);
	}
}
h1.fancy {
	$h1-margin: 72px;
	$h1-margin-xxs: 36px;
	
	position: relative;
	margin: $h1-margin 0;
	line-height: 120px;
	
	&::before,
	&::after {
		content: '';
		position: absolute;
		height: 1px;
		width: 50%;
		background-clip: padding-box;
		background-color: #A2A2A2;
	}
	&::before {
		top: 0;
		left: 0;
		border-right: 120px solid transparent;
	}
	&::after {
		bottom: 0;
		right: 0;
		border-left: 120px solid transparent;
	}
	@media (max-width: 400px) {
		margin: $h1-margin-xxs 0;
		line-height: 80px;
		
		&::before,
		&::after {
			display: none;
		}
	}
}
@mixin side-curtains($color, $size) {
	position: relative;
	
	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		width: $size;
		z-index: 50;
		pointer-events: none;
	}
	&::before {
		left: 0;
		background: linear-gradient(to left, rgba($color, 0), $color);
	}
	&::after {
		right: 0;
		background: linear-gradient(to right, rgba($color, 0), $color);
	}
}
section.cta { // TODO: refactor
	padding: 56px 0; // TODO: may sync with heading section padding?
	
	.u-left {
		text-align: right;
	}
	.u-right {
		text-align: left;
	}
	.btn {
		margin-left: 16px;
		margin-right: 16px;
		padding: 8px 48px;
	}
	@media (max-width: 500px) {
		padding: 28px 0;
		
		.u-left {
			padding-left: 28px;
		}
		.u-right {
			padding-right: 28px;
		}
		.btn {
			margin: 0;
			padding: 8px 0;
			width: 100%;
		}
	}
}
.ratio-16x9 {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	
	> * {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	/*
	&.with-controls {
		padding-top: 30px; // for video controls height
	}
	*/
}

/* photo flow */
/*
.photo-flow {
	position: relative;
	margin-top: 30px;
	margin-bottom: 20px;
	
	&::after {
		display: block;
		content: ' ';
		clear: both;
	}
	> * {
		float: left;
	}
	> img {
		height: auto;
		cursor: pointer;
	}
	&.col-1,
	&.col-2,
	&.col-3,
	&.col-4 {
		> * {
			border: 1px solid transparent;
		}
	}
	&.col-1 > * {
		width: 100%;
		border-radius: 10px;
	}
	&.col-2 > * {
		width: 50%;
	}
	&.col-3 > * {
		width: 33.3333%;
		
		&:first-child {
			width: 66.6667%;
		}
	}
	&.col-4 > * {
		width: 25%;
		
		&:first-child {
			width: 75%;
		}
	}
}
*/


