.compact {
	margin: 0 auto;
	display: inline-block;
}
.center-aligned {
	text-align: center;
}
.left-aligned {
	text-align: left;
}
.tab-pane {
	.navigator {
		cursor: pointer;
		
		&.previous,
		&.next {
			display: inline-block;
			position: relative;
		}
		&.md {
			overflow: hidden;
			font-size: 108px;
			color: #FFF;
			text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
			
			&::before {
				position: absolute;
			}
		}
		&.md-chevron-left,
		&.md-chevron-right {
			width: 40px;
			height: 64px;
		}
		&.md-chevron-left {
			&::before {
				top: -37px;
				left: -34px;
			}
		}
		&.md-chevron-right {
			&::before {
				top: -37px;
				left: -36px;
			}
		}
	}
	&:first-child .navigator.previous,
	&:last-child .navigator.next {
		display: none;
	}
}
.turquoise-text {
	color: $color-turquoise;
}
.btn {
	font-size: 18px;
}
.btn-ghost {
	&,
	&.active,
	&.focus,
	&:active,
	&:focus,
	&:hover,
	&:focus:hover {
		border-color: #FFF;
		color: #FFF;
		background: none;
	}
}
.btn-plain {
	&,
	&.active,
	&.focus,
	&:active,
	&:focus,
	&:hover,
	&:focus:hover {
		border-color: $color-turquoise;
		color: $color-turquoise;
		background: #FFF;
	}
}
.btn-secondary {
	&,
	&.active,
	&.focus,
	&:active,
	&:focus,
	&:hover,
	&:focus:hover {
		border-color: $color-turquoise;
		color: $color-turquoise;
		background: #FFF;
	}
}
.btn-primary {
	&,
	&.active,
	&.focus,
	&:active,
	&:focus,
	&:hover,
	&:focus:hover {
		border-color: transparent;
		color: #FFF;
		background: $color-turquoise;
	}
}
.black-out {
	position: relative;
	
	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		width: 48px;
		z-index: 50;
		pointer-events: none;
	}
	&::before {
		left: 0;
		background: linear-gradient(to left, rgba(0, 0, 0, 0), #000);
	}
	&::after {
		right: 0;
		background: linear-gradient(to right, rgba(0, 0, 0, 0), #000);
	}
}
section.push {
	margin-bottom: 64px;
}
section.cta {
	padding: 56px 0; // TODO: may sync with heading section padding?
	
	.u-left {
		text-align: right;
	}
	.u-right {
		text-align: left;
	}
	.btn {
		margin: 0px 16px;
		padding: 8px 48px;
	}
	@media (max-width: 500px) {
		padding: 28px 0;
		
		.u-left {
			padding-left: 28px;
		}
		.u-right {
			padding-right: 28px;
		}
		.btn {
			margin: 0;
			padding: 8px 0;
			width: 100%;
		}
	}
}
section.heading {
	text-align: center;
	color: $color-turquoise;
	margin-top: 48px;
	margin-bottom: 16px;
	
	h1 {
		font-size: 48px;
		margin: 0;
	}
	@media (max-width: 400px) {
		h1 {
			font-size: 36px;
		}
	}
}
.gallery {
}
/*
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
*/

/* photo flow */
/*
.photo-flow {
	position: relative;
	margin-top: 30px;
	margin-bottom: 20px;
	
	&::after {
		display: block;
		content: ' ';
		clear: both;
	}
	> * {
		float: left;
	}
	> img {
		height: auto;
		cursor: pointer;
	}
	&.col-1,
	&.col-2,
	&.col-3,
	&.col-4 {
		> * {
			border: 1px solid transparent;
		}
	}
	&.col-1 > * {
		width: 100%;
		border-radius: 10px;
	}
	&.col-2 > * {
		width: 50%;
	}
	&.col-3 > * {
		width: 33.3333%;
		
		&:first-child {
			width: 66.6667%;
		}
	}
	&.col-4 > * {
		width: 25%;
		
		&:first-child {
			width: 75%;
		}
	}
}
*/


