.compact {
	margin: 0 auto;
	display: inline-block;
}
.center-aligned {
	text-align: center;
}
.left-aligned {
	text-align: left;
}
.tab-pane {
	.navigator {
		cursor: pointer;
		
		&.previous,
		&.next {
			display: inline-block;
			position: relative;
		}
		&.md {
			overflow: hidden;
			font-size: 108px;
			color: #FFF;
			text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
			
			&::before {
				position: absolute;
			}
		}
		&.md-chevron-left,
		&.md-chevron-right {
			width: 40px;
			height: 64px;
		}
		&.md-chevron-left {
			&::before {
				top: -37px;
				left: -34px;
			}
		}
		&.md-chevron-right {
			&::before {
				top: -37px;
				left: -36px;
			}
		}
	}
	&:first-child .navigator.previous,
	&:last-child .navigator.next {
		display: none;
	}
}
.turquoise-text {
	color: $color-turquoise;
}
.btn {
	font-size: 18px;
}
.btn-ghost {
	&,
	&.active,
	&.focus,
	&:active,
	&:focus,
	&:hover,
	&:focus:hover {
		border-color: #FFF;
		color: #FFF;
		background: none;
	}
}
.btn-secondary {
	&,
	&.active,
	&.focus,
	&:active,
	&:focus,
	&:hover,
	&:focus:hover {
		border-color: $color-turquoise;
		color: $color-turquoise;
		background: #FFF;
	}
}
.btn-primary {
	&,
	&.active,
	&.focus,
	&:active,
	&:focus,
	&:hover,
	&:focus:hover {
		border-color: transparent;
		color: #FFF;
		background: $color-turquoise;
	}
}
.black-out {
	position: relative;
	
	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		width: 48px;
		z-index: 50;
		pointer-events: none;
	}
	&::before {
		left: 0;
		background: linear-gradient(to left, rgba(0, 0, 0, 0), #000);
	}
	&::after {
		right: 0;
		background: linear-gradient(to right, rgba(0, 0, 0, 0), #000);
	}
}
section.cta {
	padding: 56px 0;
	
	.btn {
		margin: 0px 32px;
		padding: 8px 48px;
	}
}
.gallery {
}


