.modal-dialog {
	perspective: 2000px;
}
#contact-us-form {
	padding: 0;
	
	h1 {
		margin: 0;
	}
	.u-header {
		position: relative;
		padding: 20px 0 14px;
		border-bottom: 1px solid #CCC;
		
		.u-close {
			position: absolute;
			top: 16px;
			right: 16px;
			font-size: 24px;
			color: $color-gray;
			cursor: pointer;
		}
	}
	.u-body {
		padding: 16px 32px;
		
		@media (max-width: 400px) {
			padding: 16px;
		}
		@media (max-width: 350px) {
			padding: 12px;
		}
		
		.u-title {
			font-size: 18px;
		}
		.u-field {
			width: 100%;
			max-width: 420px;
			text-align: left;
		}
		.u-options {
			margin: 0 -6px;
		}
		.u-option {
			width: 128px;
			float: left;
			margin: 6px;
			
			.u-check,
			input[type=checkbox] {
				display: none;
			}
			.u-check {
				padding: 4px 0;
				font-size: 20px;
			}
			input:checked {
				& + label {
					background: #F5F5F5;
				}
				& ~ .u-check {
					display: inline-block;
				}
			}
		}
		.u-submit {
			max-width: 140px;
			width: 100%;
		}
	}
}
#contact-us-response {
}
