#footer {
	padding-top: 16px;
	text-align: center;
	
	&, 
	a {
		color: #FFF;
	}
	section {
		margin: 0;
	}
	#social-media,
	#footer-information,
	#copyright {
		padding-top: 16px;
	}
	#social-media {
		> ul {
			> li {
				display: inline;
				
				a {
					margin: 0 8px;
				}
				&:nth-child(n+2)::before {
					content: '|';
				}
			}
		}
	}
	#footer-information {
		.u-row {
			position: relative;
			display: block;
			height: 32px;
			line-height: 32px;
			padding-left: 40px;
			margin: 3px 0;
			font-size: 18px;
			
			.u-icon {
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				font-size: 20px;
			}
		}
	}
	#copyright {
		padding-bottom: 16px;
		font-size: 15px;
	}
}


