
/*
.fa-cus-ul {
	padding: 0;
	padding-left: 24px;
	list-style: none;
	
	> li {
		position: relative;
		padding-left: 25px;
		
		&::before {
			position: absolute;
			display: inline-block;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			left: 2px;
			top: 10px;
			font-size: 16px;
			color: #666;
		}
	}
}
.fa-cus-sun-o::before {
	content: "\f185";
}
.fa-cus-user::before {
	content: "\f007";
}
.fa-cus-magic::before {
	content: "\f0d0";
}
.fa-cus-microphone::before {
	content: "\f130";
}
.fa-cus-heart::before {
	content: "\f004";
}
.fa-cus-check-circle::before {
	content: "\f058";
}
.fa-cus-location-arrow::before {
	content: "\f124";
}
.fa-cus-video-camara::before {
	content: "\f03d";
}
*/


