body.index {
	
	section {
		margin: 0;
	}
	section.heading {
		$section-margin: 56px;
		$section-margin-xxs: 28px;
		
		margin-top: $section-margin;
		margin-bottom: $section-margin;
		
		h1 {
			position: relative;
			margin: 0 auto;
			line-height: 160px;
			
			&::before,
			&::after {
				content: '';
				position: absolute;
				height: 1px;
				width: 50%;
				background-clip: padding-box;
				background-color: #A2A2A2;
			}
			&::before {
				top: 0;
				left: 0;
				border-right: 200px solid transparent;
			}
			&::after {
				bottom: 0;
				right: 0;
				border-left: 200px solid transparent;
			}
		}
		@media (max-width: 400px) {
			margin-top: $section-margin-xxs;
			margin-bottom: $section-margin-xxs;
			
			h1 {
				line-height: 80px;
				
				&::before,
				&::after {
					display: none;
				}
			}
		}
	}
	#entrance {
		background: #000;
		
		.u-video-container {
			height: 600px;
			overflow: hidden;
			background: #FFF;	
		}
		&::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 120px;
			z-index: 50;
			background: linear-gradient(to bottom, rgba(15, 30, 40, 0), rgb(15, 30, 40));
		}
	}
	#introduction {
		color: #FFF;
		background: linear-gradient(to bottom, rgb(15, 30, 40), #2E7485);
		z-index: 0; // for the large logo
		
		.container {
			position: relative;
		}
		.u-logo-container {
			position: relative;
			
			&::before {
				content: '';
				position: absolute;
				display: block;
				left: -360px;
				right: 0;
				top: 0;
				bottom: 0;
				z-index: -1;
				pointer-events: none;
				
				// TODO: IE 8 fallback
				background: 0 center no-repeat transparent;
				background-size: auto 640px;
				background-image: url('/img/logo-ext.svg');
				
				@media #{$media-w-992-minus} {
					opacity: 0.25;
				}
			}
		}
		.u-taglines {
			padding-top: 24px;
			padding-bottom: 24px;
			text-align: center;
			
			.u-value {
				font-size: 48px;
			}
			.u-subtitle {
				
			}
		}
		.u-summaries {
			padding: 32px 0;
			
			.u-product {
				padding: 32px;
			}
			.u-title {
			}
			.u-summary {
				font-size: 16px;
			}
		}
	}
	#differentiators {
		$icon-size: 150px;
		$spacing: 48px;
		
		z-index: 5; // to cover #video section background
		
		.container {
			position: relative;
		}
		.u-item {
			&.profession {
				background: linear-gradient(-45deg, #216F9B, #0A4760);
			}
			&.quality {
				background: linear-gradient(-45deg, #0A4760, #216F9B);
			}
			&.efficiency {
				background: linear-gradient(-45deg, #0A4760, #216F9B);
			}
		}
		.u-background {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: 0;
			
			> * {
				&, .u-item {
					height: 100%;
				}
			}
		}
		.u-content {
			.u-item {
				position: relative;
				padding: $spacing;
				text-align: center;
				color: #FFF;
				
				.u-icon {
					margin: 0 auto;
					width: $icon-size;
					height: $icon-size;
					border: 2px solid #034569;
					border-radius: 50%;
					background: #FFF;
					
					&::before {
						
					}
				}
				.u-title {
					margin-top: $spacing;
					font-size: 24px;
				}
				.u-description {
					margin-top: 20px;
					font-size: 18px;
					text-align: left;
				}
				&.profession .u-icon::before {
				}
				&.quality .u-icon::before {
				}
				&.efficiency .u-icon::before {
				}
			}
		}
		@media #{$media-w-992-plus} {
			.u-content .u-item {
				background: none !important;
			}
		}
		@media #{$media-w-992-minus} {
			.u-background {
				display: none;
			}
			.u-content {
				> :nth-child(n+2) {
					margin-top: 24px;
				}
				.u-item {
					padding-left: $spacing * 2 + $icon-size;
					
					.u-icon {
						position: absolute;
						left: $spacing;
						top: 50%;
						margin-top: -$icon-size / 2;
					}
					.u-title {
						margin-top: 0;
					}
				}
			}
		}
		@media (max-width: 560px) {
			.u-content {
				.u-item {
					padding-left: $spacing;
					
					.u-icon {
						display: none;
					}
				}
			}
		}
	}
	#videos {
		$background-extension-size: 128px;
		
		z-index: 0;
		color: #FFF;
		
		.container {
			position: relative;
		}
		.background-container {
			position: absolute;
			top: -$background-extension-size;
			bottom: 0;
			left: $container-padding;
			right: $container-padding;
			z-index: -1;
			background: center center no-repeat transparent;
			background-size: cover;
			background-image: url('/img/cat/apollo.blurred.jpg');
			
			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				z-index: 1;
				height: $background-extension-size / 2;
				left: 0;
				right: 0;
			}
			&::before {
				top: 0;
				background: linear-gradient(to bottom, #FFF, rgba(255, 255, 255, 0));
			}
			&::after {
				bottom: 0;
				background: linear-gradient(to top, #FFF, rgba(255, 255, 255, 0));
			}
		}
		.tab-pane {
			padding: 32px 64px;
		}
		.u-tabs {
			margin: 16px 0 0 0;
			
			.u-left {
				text-align: right;
			}
			.u-right {
				text-align: left;
			}
			.u-btn {
				display: inline-block;
				width: 160px;
				height: 90px;
				cursor: pointer;
			}
			.u-tab {
				 &.video-reliable {
					.u-btn {
						background: #FFF;
					}
				}
				&.video-effective {
					.u-btn {
						background: #FFF;
					}
				}
			}
		}
		.u-description {
			margin-top: 32px;
		}
		.u-cta {
			margin: 32px 0 $background-extension-size 0;
		}
		@media #{$media-w-992-minus} {
			.u-description br {
				display: none;
			}
		}
	}
	#products {
		.nav-tabs > li > a {
			border-color: transparent;
		}
		.tab-pane {
			background: #000;
			
			.container {
				position: relative;
				height: 600px;
			}
			.u-block {
				position: absolute;
				right: 0;
				bottom: 0;
				min-width: 300px;
				width: 40%;
				padding: 64px;
			}
			.u-title,
			.u-description {
				color: #FFF;
				text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
			}
			.navigator {
				position: absolute;
				top: 50%;
				margin-top: -32px;
				
				&.previous {
					left: 16px;
				}
				&.next {
					right: 16px;
				}
			}
		}
		@media (min-width: 601px) {
			.nav-tabs > li {
				display: table-cell;
				width: 1%;
			}
		}
		@media (max-width: 600px) {
			.nav-tabs {
				display: none;
			}
			.tab-pane {
				display: block;
				
				.u-block {
					position: static;
				}
				.container {
					height: auto;
				}
				.navigator {
					display: none;
				}
			}
		}
	}
}
/*
body.home {
	position: relative;
	
	#header {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		z-index: 5;
		background: none;
	}
	section {
		position: relative;
		overflow: hidden;
		margin: 0;
		//padding: 50px 0;
		
		&.container {
			padding: 0;
		}
		&:not(.container) {
			width: 100%;
		}
        &.full {
			height: 100vh;
        }
		&.vertical-center {
			> div {
				height: 100%;
				width: 100%;
				
				> div {
					height: 100%;
					vertical-align: middle;
				}
			}
		}
	}
	#first {
		background: no-repeat center center transparent;
		//background-image: url("/img/photo/space_00_1920.jpg");
		background-size: cover;
	}
}
#other-pages .menu-link {
	margin-right: 10px;
	margin-bottom: 17px;
}
*/


