body.index {
	
	#body {
		background: #FFF; // overriding noise background
	}
	h1 {
		margin-top: 0 !important;
	}
	#entrance {
		background: #070F14;
		
		&::after {
			@extend .full;
			content: '';
			top: auto;
			height: 120px;
			z-index: 50;
			background: linear-gradient(to bottom, rgba(#030303, 0), #030303);
		}
		.u-container {
			background-image: url('/video/Apollo_1920x540_nonstop.cover.png');
		}
	}
	#introduction {
		color: #FFF;
		background: linear-gradient(to bottom, #030303 0%, #070F14 32%, #215573 61%, #458F9B 100%);
		z-index: 0; // for the large logo
		
		.u-logo-container {
			position: relative;
			
			&::before {
				content: '';
				position: absolute;
				display: block;
				left: -360px;
				right: 0;
				top: 0;
				bottom: 0;
				z-index: -1;
				pointer-events: none;
				
				// TODO: IE 8 fallback
				background: 0 center no-repeat transparent;
				background-size: auto 640px;
				background-image: url('/img/svg/logo.ext.svg');
				
				@media #{$media-w-992-minus} {
					opacity: 0.25;
				}
				@media #{$media-w-1200-plus} {
					left: -300px;
				}
			}
		}
		.u-summaries {
			padding: 32px 0;
			min-height: 96px;
			
			.u-product {
				padding: 32px;
				padding-left: 144px;
				background: 0 center no-repeat transparent;
				text-align: left;
				
				&.livestream {
					background-image: url('/img/product.livestream.icon.svg');
				}
				&.conference {
					background-image: url('/img/product.conference.icon.svg');
				}
				&.webcourse {
					background-image: url('/img/product.webcourse.icon.svg');
				}
				&.interview {
					background-image: url('/img/product.interview.icon.svg');
				}
				&.space {
					background-image: url('/img/product.space.icon.svg');
				}
			}
			.u-title {
				font-size: 24px;
			}
			.u-summary {
				font-size: 18px;
				margin-top: 2px;
			}
		}
		@media (max-width: 600px) {
			.u-logo-container {
				text-align: center;
			}
			.u-summaries {
				float: none !important;
				
				.u-product {
					padding-left: 32px;
					background-image: none !important;
				}
			}
		}
		@media (max-width: 500px) {
			.u-taglines {
				.u-value {
					font-size: 40px;
				}
				.u-subtitle {
					font-size: 22px;
				}
			}
		}
		@media (max-width: 400px) {
			.u-taglines {
				.u-value {
					font-size: 32px;
				}
				.u-subtitle {
					font-size: 20px;
				}
			}
		}
	}
	#differentiators {
		$icon-size: 150px;
		$spacing: 48px;
		$card-padding: 10px;
		
		z-index: 5; // to cover #video section background
		
		.row > * {
			padding: 0 $card-padding;
		}
		.u-item {
			&.profession {
				background: linear-gradient(-45deg, #216F9B, #0A4760);
			}
			&.quality {
				background: linear-gradient(-45deg, #0A4760, #216F9B);
			}
			&.effectiveness {
				background: linear-gradient(-45deg, #0A4760, #216F9B);
			}
		}
		.u-background {
			position: absolute;
			left: $container-padding - $card-padding;
			right: $container-padding - $card-padding;
			top: 0;
			bottom: 0;
			margin: 0;
			
			> *, 
			.u-item {
				height: 100%;
			}
			.u-item {
				position: relative;
				cursor: pointer;
				
				&::before {
					@extend .full;
					content: '';
					display: none;
					top: auto;
					height: 10px;
					background: $color-cyan;
				}
				&:hover::before {
					display: block;
				}
			}
		}
		.u-content {
			margin: 0 (-$card-padding);
			pointer-events: none;
			
			.u-item {
				position: relative;
				padding: $spacing;
				text-align: center;
				color: #FFF;
				
				.u-icon {
					margin: 0 auto;
					width: $icon-size;
					height: $icon-size;
					border: 2px solid #034569;
					border-radius: 50%;
					background: center center no-repeat #FFF;
					background-size: $icon-size * 0.8 auto;
				}
				.u-title {
					margin-top: $spacing;
					font-size: 24px;
				}
				.u-description {
					margin-top: 20px;
					font-size: 18px;
					text-align: justify;
				}
				&.profession .u-icon {
					background-image: url('/img/differentiator.profession.svg');
				}
				&.quality .u-icon {
					background-image: url('/img/differentiator.quality.svg');
				}
				&.effectiveness .u-icon {
					background-image: url('/img/differentiator.effectiveness.svg');
				}
			}
		}
		@media #{$media-w-992-plus} {
			.u-content .u-item {
				background: none !important;
			}
		}
		@media #{$media-w-992-minus} {
			.u-background {
				display: none;
			}
			.u-content {
				> :nth-child(n+2) {
					margin-top: 24px;
				}
				.u-item {
					padding-left: $spacing * 2 + $icon-size;
					
					.u-icon {
						position: absolute;
						left: $spacing;
						top: 50%;
						margin-top: -$icon-size / 2;
					}
					.u-title {
						margin-top: 0;
						text-align: left;
					}
				}
			}
		}
		@media (max-width: 560px) {
			.u-content {
				.u-item {
					padding-left: $spacing;
					
					.u-icon {
						display: none;
					}
					.u-title {
						text-align: center;
					}
				}
			}
		}
	}
	#videos {
		$background-extension-size: 80px;
		$background-gradient-size: 120px;
		
		z-index: 0;
		color: #FFF;
		
		.background-container {
			position: absolute;
			top: -($background-extension-size + $background-gradient-size);
			bottom: 0;
			left: $container-padding;
			right: $container-padding;
			z-index: -1;
			background: center center no-repeat transparent;
			background-size: cover;
			background-image: url('/img/cat/apollo.blurred.jpg');
			
			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				z-index: 1;
				height: $background-gradient-size;
				left: 0;
				right: 0;
			}
			&::before {
				top: 0;
				background: linear-gradient(to bottom, #FFF, rgba(255, 255, 255, 0));
			}
			&::after {
				bottom: 0;
				background: linear-gradient(to top, #FFF, rgba(255, 255, 255, 0));
			}
		}
		.tab-pane {
			padding: 32px 64px;
		}
		.u-tabs {
			margin: 16px 0 0 0;
			
			.u-btn {
				display: inline-block;
				position: relative;
				width: 100%;
				max-width: 160px;
				cursor: pointer;
				background: center 0 no-repeat transparent;
				background-size: cover;
				
				&::before {
					@extend .ratio-16x9-base;
					content: '';
					display: block;
				}
				&::after {
					@extend .full;
					content: '';
					background: rgba(0, 0, 0, 0.5);
				}
			}
			:not(.active) > .u-btn {
				&:hover {
					&::after {
						background: rgba(0, 0, 0, 0.25);
					}
				}
				&:active {
					background-position: center 1px;
					box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.125);
				}
			}
			.u-tab {
				&:first-child {
					padding-left: 32px;
				}
				&:last-child {
					padding-right: 32px;
				}
				&.active .u-btn {
					cursor: default;
					
					&::after {
						display: none;
					}
				}
				&.video-reliable .u-btn {
					background-image: url('/img/cat/apollo.16x9.jpg');
				}
				&.video-effective .u-btn {
					background-image: url('/img/cat/midnight.16x9.jpg');
				}
			}
		}
		.u-description {
			margin-top: 32px;
			padding: 0px 32px;
		}
		.u-cta {
			margin: 32px 0;
			margin-bottom: 32px + $background-gradient-size;
			
			.u-btn { // TODO: ad-hoc
				padding: 12px 20px;
				
				.u-text,
				&::after {
					line-height: 24px;
					height: 24px;
					float: left;
				}
				.u-text {
					position: relative;
					top: 1px;
				}
				&::after {
					content: '';
					display: block;
					width: 114px;
					background: right center no-repeat transparent;
					background-image: url('/img/title.white.s.png');
					background-size: auto 18px;
				}
			}
		}
		@media #{$media-w-992-minus} {
			.u-description br {
				display: none;
			}
		}
	}
	#product-tabs {
		background: #F2F2F2;
		
		.nav-tabs > li {
			$height: 80px;
			$bar-height: 6px;
			
			> a {
				position: relative;
				height: $height;
				line-height: $height - $bar-height;
				padding: $bar-height 0 0 0;
				margin: 0 !important;
				border: none;
				border-radius: 0;
				color: $color-gray;
				
				&::before {
					@extend .full;
					bottom: auto;
					height: $bar-height;
					content: '';
					background: $color-turquoise;
					display: none;
				}
			}
			&.active > a {
				color: $color-turquoise;
				background: #FFF;
				
				&::before {
					display: block;
				}
			}
			&:not(.active) > a {
				&:hover {
					background: #F7F7F7;
				}
				&:active {
					top: 2px;
					height: $height - 2px;
					box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.125);
				}
			}
		}
		@media (min-width: 601px) {
			.nav-tabs > li {
				display: table-cell;
				width: 1%;
			}
		}
		@media (max-width: 600px) {
			.nav-tabs {
				display: none;
			}
		}
	}
	#products {
		.tab-pane {
			position: relative;
			background: center center no-repeat transparent;
			background-size: cover;
			
			> .container {
				height: 540px; // for narrower windows
			}
			.u-block {
				position: absolute;
				right: 0;
				bottom: 0;
				max-width: 600px;
				width: 100%;
				padding: 64px;
			}
			.u-title {
				display: inline-block;
				font-size: 30px;
				border-bottom: 3px solid #FFF;
			}
			.u-description,
			.btn {
				margin-top: 16px;
			}
			.navigator {
				position: absolute;
				top: 50%;
				margin-top: -32px;
				
				&.previous {
					left: 24px;
				}
				&.next {
					right: 24px;
				}
			}
			&#livestream {
				background-image: url('/img/cat/apollo.jpg');
			}
			&#conference {
				background-image: url('/img/cat/midnight.jpg');
			}
			&#webcourse {
				background-image: url('/img/cat/apollo.jpg');
			}
			&#interview {
				background-image: url('/img/cat/midnight.jpg');
			}
			&#space {
				background-image: url('/img/cat/apollo.jpg');
			}
		}
		@media (max-width: 600px) {
			.tab-pane {
				display: block;
				
				.u-block {
					position: static;
					padding: 32px;
					padding-top: 96px;
				}
				&,
				.container {
					height: auto;
				}
				.navigator {
					display: none;
				}
			}
		}
	}
	#partners {
		$line-height: 180px;
		
		background: #F2F2F2;
		
		.u-partners,
		.u-partners-more {
			text-align: justify;
			margin: 0 -16px;
		}
		.u-partners {
			max-height: $line-height * 2;
			overflow: hidden;
		}
		.u-partners-more-container {
			overflow: hidden;
			
			&.in + .u-toggle {
				.md-expand-more {
					display: none;
				}
				.md-expand-less {
					display: inline-block;
				}
			}
		}
		.u-partners-more {
			margin-top: -$line-height * 2;
		}
		.u-toggle {
			display: block;
			margin: 0 auto;
			margin-bottom: 12px;
			text-align: center;
			width: 48px;
			text-decoration: none;
			cursor: pointer;
			font-size: 48px;
			line-height: 48px;
			border-radius: 50%;
			
			.md {
				position: relative;
				top: 4px;
			}
			.md-expand-less {
				display: none;
			}
		}
		.u-partner {
			display: inline-block;
			margin: 0px 16px;
			line-height: $line-height;
			
			img {
				display: inline-block;
				
				&.square {
					max-width: 80px;
				}
				&.rectangular {
					max-width: 100px;
				}
				&.bar {
					max-width: 240px;
				}
			}
		}
	}
}


