$media-w-1200-plus: "(min-width: 1200px)";
$media-w-992-plus: "(min-width: 992px)";
$media-w-mobile-plus: "(min-width: 768px)";
$media-w-716-plus: "(min-width: 716px)";

$media-w-1200-minus: "(max-width: 1199px)";
$media-w-992-minus: "(max-width: 991px)";
$media-w-mobile-minus: "(max-width: 767px)";
$media-w-716-minus: "(max-width: 715px)";

$header-height: 55px;

$container-padding: 15px; // must sync with Bootstrap

html, body {
	height: 100%;
}
body {
	margin: 0 auto;
}
#body {
	padding-top: $header-height;
}
#header {
	margin-bottom: 0 !important;
	height: $header-height;
	
	> .container {
		height: 100%;
	}
}
#footer {
	position: relative;
	margin-top: $section-space;
}
.modal {
	> .table-like {
		width: 100%;
		height: 100%;
		
		> * {
			vertical-align: middle;
		}
	}
	.modal-dialog {
		width: auto;
		padding: 10px;
		margin: 0;
		text-align: center;
	}
	.modal-content,
	.modal-body {
		display: inline-block;
	}
}


