body.index,
body.article {
	#body h1 {
		@extend h1.fancy;
	}
}
body.article {
	section.heading + section {
		margin-top: $sm-space;
	}
	#entrance {
		margin-top: 0;
	}
	section {
		margin-top: 96px;
		
		img,
		video,
		.video {
			display: block;
			margin: $sm-space auto 0;
		}
		video {
			width: 100%;
		}
		.video {
			@extend .ratio-16x9;
		}
		> .container {
			max-width: 960px +(15px * 2);
			> * {
				max-width: 735px + (15px * 2);
				margin: $sm-space auto 0;
			}
			> h2 {text-align:center;}
			> img, video {
				max-width: 640px;
				width: 100%;
				&.wide {
				max-width: 960px;
				width: 100%;						
				}				
			}
			&.left {
				> div:first-of-type {
					float: left;
					width: 520px;
				}
				> div:last-of-type {
					float: right;
					width: 380px;
				}
			}
			&.right {
				> div:first-of-type{
					float: right;
					width: 520px;
				}
				> div:last-of-type {
					float: left;
					width: 380px;
				}
			}
			&.two div {
				float: left;
				width: 442px;
				&:first-of-type {margin-right: 76px;}
			}
			&.three div {
				float: left;
				width: 280px;
				margin-right: 60px;
				&:last-of-type {margin-right:0;}
			}
			&::before {
				display: none; // let margin goes through
			}
		}
	}
	@media #{$media-w-992-minus} {
		section > .container.two-column {
			> * {
				float: none !important;
				width: auto !important;
			}
		}
	}
}



body.demo {
	#entrance > .u-container {
		background-image: url('/img/cat/apollo.jpg');
	}
}
