body.index,
body.article {
	#body h1 {
		@extend h1.fancy;
	}
}
body.article {
	section.heading + section {
		margin-top: $sm-space;
	}
	#entrance {
		margin-top: 0;
	}
	section {
		margin-top: 96px;
		
		img,
		video,
		.video {
			display: block;
			margin: $sm-space auto 0;
		}
		video {
			width: 100%;
		}
		.video {
			@extend .ratio-16x9;
		}
		&.narrow {
			> .container {
				max-width: 735px + (15px * 2);
			}
			img,
			video {
				max-width: 640px;
				width: 100%;
			}
		}
		&.wide {
			> .container {
				max-width: 960px + (15px * 2);
			}
		}
		> .container {
			&.two-column {
				> :first-child {
					float: left;
				}
				> :last-child {
					float: right;
				}
				> .narrow {
					width: 360px;
				}
				> .medium {
					width: 465px; // TODO: may be just 460?
				}
				> .wide {
					width: 560px;
				}
			}
			&::before {
				display: none; // let margin goes through
			}
		}
	}
	@media #{$media-w-992-minus} {
		section > .container.two-column {
			> * {
				float: none !important;
				width: auto !important;
			}
		}
	}
}



body.demo {
	#entrance > .u-container {
		background-image: url('/img/cat/apollo.jpg');
	}
}
