@charset "UTF-8";

body, h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, FreeSans, "蘋果儷中黑", "微軟正黑體", sans-serif;
}
body {
	background: center center repeat transparent;
	background-image: linear-gradient(to bottom, #030303 0%, #070F14 32%, #215573 61%, #458F9B 100%);
	background-attachment: fixed;
	font-size: 20px;
	letter-spacing: 1px;
}
.page-edge {
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
	background-color: #4A4A4A; // for footer extension
}
.noise-background {
	background: center 0 repeat transparent;
	background-image: url('/img/noise.png');
}
#body {
	@extend .noise-background;
}
body {
}
h1, h2, h3 {
	font-weight: bold;
}
h1 {
	text-align: center;
	font-size: 36px;
	color: $color-turquoise;
	margin-top: $lg-space;
	margin-bottom: 0;
}
h2 {
	font-size: 30px;
	margin-top: $lg-space;
	margin-bottom: 0;
}
h3 {
	font-size: 24px;
	margin-top: 32px;
	margin-bottom: 0;
}
p {
	margin: $sm-space 0 0;
}
a {
	color: $color-link;
	
	&:hover, 
	&:focus:hover {
		color: $color-link-hover;
	}
	&:focus {
		color: $color-link;
		text-decoration: none;
	}
	&[role="tab"] {
		cursor: pointer;
	}
}
textarea {
	resize: none;
}
section,
.container {
	position: relative;
}
iframe {
	border: none;
	width: 100%;
}
hr {
	border-color: #CCC;
}
.form-control:focus {
	border-color: #CCC;
	box-shadow: none;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: #F2F2F2;
}


