@charset "UTF-8";

body, h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, FreeSans, "蘋果儷中黑", "微軟正黑體", sans-serif;
}
body, 
#header {
	background: #FFF;
}
body {
	font-size: 20px;
	letter-spacing: 1px;
}
h1, h2, h3 {
	font-weight: bold;
}
h1 {
	text-align: center;
	font-size: 48px; // can keep up to 7 characters
	color: $color-turquoise;
	margin-top: $section-space;
	margin-bottom: 0;
	
	@media (max-width: 400px) {
		font-size: 40px; // can keep up to 7 characters
	}
}
h2 {
	margin-top: $section-space;
	margin-bottom: 0;
}
h3 {
	margin-top: 32px;
	margin-bottom: 0;
}
p {
	margin: $paragraph-space 0 0;
}
a {
	color: $color-link;
	
	&:hover, 
	&:focus:hover {
		color: $color-link-hover;
	}
	&:focus {
		color: $color-link;
		text-decoration: none;
	}
	&[role="tab"] {
		cursor: pointer;
	}
}
textarea {
	resize: none;
}
section,
.container {
	position: relative;
}
iframe {
	border: none;
	width: 100%;
}
hr {
	border-color: #CCC;
}
.form-control:focus {
	border-color: #CCC;
	box-shadow: none;
}
/*
.table {
	// lazy way, as we don't put table inside table
	th,
	td {
		border-color: #BBB !important;
	}
}
*/


