body.traffic {
	
	#address,
	#landmarks {
		text-align: center;
	}
	#map {
		iframe {
			height: 480px;
			
			&.scrolling {
				pointer-events: none;
			}
		}
	}
	#landmarks {
		.u-images {
			margin: 16px 0 0 0;
			
			 > li {
			 	padding: 0;
			 }
		 	.u-image {
		 		width: 100%;
		 		height: auto;
		 		cursor: pointer;
		 	}
		 	.u-caption {
		 		position: absolute;
		 		left: 0;
		 		right: 0;
		 		bottom: 0;
		 		text-align: center;
		 		font-size: 24px;
		 	}
		}
	}
	#methods {
	}
}