body.traffic {
	
	#body {
		padding-bottom: $lg-space;
	}
	a.u-external-info {
		margin-left: 16px;
	}
	#address,
	#landmarks {
		text-align: center;
	}
	#address {
		.u-description {
			line-height: 34px; // TODO: ad-hoc, need better way
		}
	}
	#map {
		iframe {
			height: 480px;
			
			&.scrolling {
				pointer-events: none;
			}
		}
	}
	#landmarks {
		.u-images {
			margin-left: 0;
			margin-right: 0;
			
			 > li {
			 	padding: 0;
			 }
		 	.caption {
		 		@extend .full;
		 		top: auto;
		 		font-size: 20px; // TODO: check
				color: #FFF;
				text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
		 	}
		}
	}
	#methods {
		$icon-size: 120px;
		
		.u-method {
			position: relative;
			padding-left: $icon-size + 24px;
			min-height: $icon-size - 32px;
			margin-top: 32px;
			
			.u-icon {
				position: absolute;
				left: 0;
				right: 0;
				width: $icon-size;
				height: $icon-size;
				line-height: $icon-size;
				text-align: center;
				font-size: 96px;
			}
			.u-title {
				line-height: 34px; // TODO: ad-hoc, need better way
				font-weight: bold;
			}
			.u-details {
				margin-top: 16px;
			}
		}
	}
}