body.traffic {
	
	#body {
		padding-bottom: $lg-space;
	}
	a.u-external-info {
		margin-left: 16px;
	}
	#address,
	#landmarks {
		text-align: center;
	}
	#address {
		.u-description {
			line-height: 34px; // TODO: ad-hoc, need better way
		}
	}
	#map {
		iframe {
			height: 480px;
			
			&.scrolling {
				pointer-events: none;
			}
		}
	}
	#landmarks {
		.u-images {
			margin-left: 0;
			margin-right: 0;
			
			 > li {
			 	padding: 0;
			 }
		 	.caption {
		 		@extend .full;
		 		top: auto;
		 		font-size: 18px; // TODO: check
				color: #FFF;
				text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
		 	}
		}
	}
	#methods {
		.u-method {
			position: relative;
			padding-left: 124px;
			margin-top: 32px;
			background: 0 0 no-repeat transparent;
			
			&.mrt {
				background-image: url('/img/traffic.mrt.svg');
			}
			&.car {
				background-image: url('/img/traffic.car.svg');
			}
			&.bus {
				background-image: url('/img/traffic.bus.svg');
			}
		}
		.u-title {
			line-height: 34px; // TODO: ad-hoc, need better way
			font-weight: bold;
		}
		.u-details {
			margin-top: 16px;
			padding-left: 100px;
		}
	}
}