$color-turquoise: #21709B;
$color-turquoise-dark: #00445D;
$color-turquoise-center: #0B3048;
$color-gray: #808080;
$color-cyan: #82F9EE;

$color-link: $color-turquoise;
$color-link-hover: $color-turquoise;

$paragraph-space: 16px;
$section-space: 48px;
