---
layout: standard
width: full
id: index
---

{% assign labels = site.data.labels %}

<section class="intro">
	<div class=""></div>
	<div class=""></div>
</section>

<section id="product-summary">
	<div class="container">
		<ul class="unstyled">
			{% for p in labels.products %}
			<li>
				<span class="u-title">{{ p[1] }}</span>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section class="heading">
	<h1 class="container">為什麼選擇我們</h1>
</section>

<section id="differentiators">
	<div class="container">
		<ul class="row unstyled">
			<li class="col-md-4">
				<span class="u-icon"></span>
				<span class="u-title">質感</span>
				<div class="u-description"></div>
			</li>
			<li class="col-md-4">
				<span class="u-icon"></span>
				<span class="u-title">可靠</span>
				<div class="u-description"></div>
			</li>
			<li class="col-md-4">
				<span class="u-icon"></span>
				<span class="u-title">效益</span>
				<div class="u-description"></div>
			</li>
		</ul>
	</div>
</section>

<section id="videos">
</section>

<section class="heading">
	<h1 class="container">您需要的服務</h1>
</section>

<section id="products">
	<div class="container">
		<ul id="product-tabs" class="nav nav-tabs nav-justified">
			{% for p in labels.products %}
			<li role="presentation"{% if forloop.first %} class="active"{% endif %}>
				<a role="tab" data-toggle="tab" data-target="#{{ p[0] }}" aria-controls="{{ p[0] }}">{{ p[1] }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="tab-content">
		{% capture contents_str %}
content A
====
content B
====
content C
====
content D
====
content E
		{% endcapture %}
		{% assign contents = contents_str | split: '====' %}
		{% for p in labels.products %}
			{% capture path %}panels/{{ p[0] }}.html{% endcapture %}
		<div role="tabpanel" class="tab-pane{% if forloop.first %} active{% endif %}" id="{{ p[0] }}">
			<div class="container">
				<div class="u-title">{{ p[1] }}</div>
				<div class="u-content">{{ contents[forloop.index0] }}</div>
				<a class="navigator previous" role="navigator" data-toggle="previous" data-target="#product-tabs"></a>
				<a class="navigator next" role="navigator" data-toggle="next" data-target="#product-tabs"></a>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<section class="heading">
	<h1 class="container">我們的合作夥伴</h1>
</section>

<section id="customers">
	<ul>
		<!-- TODO: generate from labels -->
	</ul>
</section>

<section class="call-to-action">
	
</section>


