---
layout: standard
width: full
id: index
---

{% assign labels = site.data.labels %}

<section id="entrance">
	<div class="u-video-container object-fit">
		<div class="ratio-16x9"></div>
		<video class="taller intangible" autoplay loop muted>
			<source src="/img/soapbox.ogg" type="video/ogg">
			<source src="/img/soapbox.mp4" type="video/ogg">
		</video>
	</div>
</section>

<section id="introduction">
	<div class="container">
		<div class="u-taglines">
			<div class="u-value">{{ labels.value }}</div>
			<div class="u-subtitle">{{ labels.subtitle }}</div>
		</div>
	</div>
	<div class="container">
		<div class="u-logo-container clearfix">
			<ul class="u-summaries pull-right unstyled compact">
				{% for p in labels.products %}
					{% assign cnt = p[1] %}
				<li class="u-product">
					<div class="u-title">{{ cnt.title }}</div>
					<div class="u-summary">{{ cnt.summary }}</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section>
	<h1 class="fancy">不只是為您錄影</h1>
</section>

<section id="differentiators">
	<div class="container">
		<div class="row u-background">
			<div class="col-md-4">
				<div class="u-item profession"></div>
			</div>
			<div class="col-md-4">
				<div class="u-item quality"></div>
			</div>
			<div class="col-md-4">
				<div class="u-item efficiency"></div>
			</div>
		</div>
		<div class="row u-content">
			<div class="col-md-4">
				<div class="u-item profession">
					<div class="u-icon"></div>
					<div class="u-title">專業穩妥</div>
					<div class="u-description">從現場打光收音、EFP 多機直播，到後製剪輯、網路應用……放心把所有技術環節交給我們，讓您專注於創作內容、辦好活動。</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="u-item quality">
					<div class="u-icon"></div>
					<div class="u-title">精湛質感</div>
					<div class="u-description">好內容值得用心對待，除了器材規格，我們更講究清晰細膩的影音質感、重現氛圍，讓網友全程輕鬆觀賞、樂於分享收藏，累積對您的好感和信任。</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="u-item efficiency">
					<div class="u-icon"></div>
					<div class="u-title">追求應用成效</div>
					<div class="u-description">我們關心影片帶給您多少價值：為目標觀眾、應用情境，量身設計錄製、剪輯、播放形式；客製化全程顧問服務，讓影片觸動人心，發揮最大影響力。</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="videos">
	<div class="container center-aligned">
		<div class="background-container"></div>
		<div class="tab-content">
			<div role="tabpanel" id="video-reliable" class="tab-pane active">
				<div class="ratio-16x9">
					video A
				</div>
			</div>
			<div role="tabpanel" id="video-effective" class="tab-pane">
				<div class="ratio-16x9">
					video B
				</div>
			</div>
		</div>
		<ul class="unstyled row u-tabs">
			<li role="presentation" class="video-reliable col-xs-6 u-left u-tab active">
				<div role="tab" class="u-btn" data-toggle="tab" data-target="#video-reliable" aria-controls="video-reliable"></div>
			</li>
			<li role="presentation" class="video-effective col-xs-6 u-right u-tab">
				<div role="tab" class="u-btn" data-toggle="tab" data-target="#video-effective" aria-controls="video-effective"></div>
			</li>
		</ul>
		<div class="u-description subtitle-text">
			<div class="compact left-aligned">
				我們講究影音質感，不惜吹毛求疵；不斷追求更可靠、全方位的軟硬體支援——<br>但吾愛技術，吾更愛內容：讓「有溫度的知識」即時分享、永續流傳，讓「群眾<br>溝通」無所不在、如實而深刻，才是我們創辦 Bookshow 的初衷。
			</div>
		</div>
		<div class="u-cta">
			<a href="/about" class="btn btn-ghost">認識 BOOKSHOW</a>
		</div>
	</div>
</section>

<section>
	<h1 class="fancy">您需要的服務</h1>
</section>

<section id="products">
	<div class="container">
		<ul id="product-tabs" class="nav nav-tabs nav-justified">
			{% for p in labels.products %}
			<li role="presentation"{% if forloop.first %} class="active"{% endif %}>
				<a role="tab" data-toggle="tab" data-target="#{{ p[0] }}" aria-controls="{{ p[0] }}">{{ p[1].title }}</a>
			</li>
			{% endfor %}
		</ul>
		<div class="tab-content">
			{% for p in labels.products %}
				{% capture path %}panels/{{ p[0] }}.html{% endcapture %}
				{% assign cnt = p[1] %}
			<div role="tabpanel" class="tab-pane{% if forloop.first %} active{% endif %}" id="{{ p[0] }}">
				<div class="u-block">
					<div class="u-title subtitle-text">{{ cnt.title }}</div>
					<div class="u-description subtitle-text">{{ cnt.description }}</div>
					<a href="/{{ p[0] }}" class="btn btn-ghost">瞭解更多</a>
				</div>
				<i class="navigator previous md md-chevron-left" role="navigator" data-toggle="previous" data-target="#product-tabs"></i>
				<i class="navigator next md md-chevron-right" role="navigator" data-toggle="next" data-target="#product-tabs"></i>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

<section>
	<h1 class="fancy">我們的合作夥伴</h1>
</section>

<section id="customers">
	<ul class="unstyled">
		{% for p in labels.partners %}
		<li>
		</li>
		{% endfor %}
	</ul>
</section>

<section class="cta">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 u-left">
				<a href="/pricing" class="btn btn-secondary">價格試算</a>
			</div>
			<div class="col-xs-6 u-right">
				<a class="btn btn-primary" data-function="contact-us">聯絡我們</a>
			</div>
		</div>
	</div>
</section>


