---
layout: standard
product: livestream
class: [livestream, article]
---

<!-- 

標題 11 字
內文 17 字 * 2+2+2 行，最多 3+4 行（約 100 字）

標題 11 字 * 2 行
內文 17 字 * 2+3 行，最多 3+3 行（約 85 字）

<section><
	<div class="container two-column">
		<div>
			<h2></h2>
			<p></p>
			<p></p>
		</div>
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
	</div>
</section>

{% include cta.html color="dark" %}

<section class="heading">
	<h1></h1>
</section>

-->

<section id="entrance">
	<div class="u-container">
		<video class="wider" autoplay loop muted>
			<source src="/video/Apollo_1920x540_nonstop.ogv" type="video/ogg">
			<source src="/video/Apollo_1920x540_nonstop.m4v" type="video/mp4">
		</video>
		<div class="taglines">
			<div class="u-title">不在現場，勝似現場</div>
			<div class="u-subtitle">網路直播，讓遠端觀眾同時共感、擴大互動傳播</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<p> 異地零時差同步觀看，不受交通地點遠近、場地容納人數、實物成本限制</p>
		<img class="image" src="/img/empty.gif" data-caption="主副投三畫面圖" />
		<p> </p>
	</div>
</section>

<section>
	<div class="container">
		<h2>應用情境</h2>
	</div>
	<div class="container three imgs">
		<div>
			<img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="這邊放什麼圖" />
			<h2>強調公開透明</h2>
			<p> 利用直播不經剪輯的特性，作為第一手公開存證資料。</p>
			<p> 適用情境：公務會議、抽籤儀式、股東會……等</p>
		</div>
		<div>
			<img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="這邊放什麼圖" />
			<h2>鼓勵群眾互動</h2>
			<p> 配合投票、問答、抽獎等互動方式，提高觀眾參與度。</p>
			<p> 適用情境：……等</p>
		</div>
		<div>
			<img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="這邊放什麼圖" />
			<h2>即時快速傳播</h2>
			<p> 善用直播掌握時效，搶先佔領話題事件的關鍵字印象。</p>
			<p> 適用情境：記者會、產品發表會、頒獎典禮……等</p>
		</div>
	</div>
</section>





<section class="heading">
	<h1>直播是一種規格，「把直播作好」是一門藝術</h1>
</section>

<section>
     <div class="container left">
        <div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
        <div>
        	<h2>比搖滾區還要前排</h2>
            <p> </p>
			<p> </p>
			<p> </p>
        </div>
    </div>
</section>

<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
		<div>
			<h2>比電視節目高畫質</h2>
			<p> 沒有 interlace，影音精準同步，</p>
			<p> </p>
			<p> </p>
		</div>
	</div>
</section>

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
		<div>
			<h2>比 call-in 有互動</h2>
			<p> 設計互動還節</p>
			<p> </p>
			<p> </p>
		</div>
	</div>
</section>

<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
		<div>
			<h2>比租場地更划算</h2>
			<p> 電視台只有跨年、頒獎才作直播節目，因為很麻煩很貴</p>
			<p> 現在可以作為活動常備功能（連結：直接選在 BOOKSHOW 辦活動）</p>
			<p> </p>
		</div>
	</div>
</section>

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
		<div>
			<h2>活動還沒結束，影片就已經爆紅了</h2>
			<p> 同步上架到 YouTube 等平台，可立即請現場參加者、網路觀眾分享，事前宣傳與事後觀看為同一 YouTube 網址</p>
			<p> （等待後製高畫質版）</p>
			<p> </p>
		</div>
	</div>
</section>


<!--

{% include cta.html color="dark" %}

<section class="heading">
	<h1>開發挖掘直播應用可能性（互動的價值＆方法）</h1>
</section>

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
		<div>
			<h2>提問投票影響現場</h2>
			<p> 可向主辦留言提問（事前給問嗎？即時提問）投票回答決定活動走向</p>
			<p> </p>
			<p> </p>
		</div>
	</div>
</section>

<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
		<div>
			<h2>場外聊天</h2>
			<p> 小編彙傳員，say hello & stand by，提昇觀眾可互動感，</p>
			<p> </p>
			<p> </p>
		</div>
	</div>
</section>

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
		<div>
			<h2>場內留言牆</h2>
			<p> 讓場內觀眾感受到「還有別人在關注」的形式一二三</p>
			<p> </p>
			<p> </p>
		</div>
	</div>
</section>

<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
		<div>
			<h2>影片內嵌留言改良式彈幕</h2>
			<p> 保留留言時間戳記，事後觀看也有聊天感</p>
			<p> </p>
			<p> </p>
		</div>
	</div>
</section>

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
		<div>
			<h2>因即時而互動，產生連結感</h2>
			<p> 台上、台下、場外，三方互動，自己聽專輯、現場聽演唱會＆留言牆、看演唱會直播＆聊天</p>
			<p> 感受到別人的感受，也讓別人感受到自己的感受，共鳴共感共識，有助於產生、維繫社群</p>
			<p> </p>
		</div>
	</div>
</section>

-->



{% include cta.html color="dark" %}

<section><!-- DEMO 影片 / 左右比較 -->
	<div class="container two">
		<div>
			<div class="video"><iframe src="https://www.youtube.com/embed/LGhXHiiyHvo?modestbranding=1"></iframe></div>
			<h2>1080p 直播，影音精準同步</h2>
			<p> 沒有 interlace</p>
			<p> 影音精準同步</p>
			<p> </p>
		</div>
		<div>
			<div class="video"><iframe src="https://www.youtube.com/embed/LGhXHiiyHvo?modestbranding=1"></iframe></div>
			<h2>1080p 直播，影音精準同步</h2>
			<p> 沒有 interlace</p>
			<p> 影音精準同步</p>
			<p> </p>
		</div>
	</div>
</section>

{% include cta.html color="dark" %}
