---
layout: standard
product: livestream
class: [livestream, article]
---



<section id="entrance">
	<div class="u-container">
		<!--
		<video class="wider" autoplay loop muted>
			<source src="/video/Apollo_1920x540_nonstop.ogv" type="video/ogg">
			<source src="/video/Apollo_1920x540_nonstop.m4v" type="video/mp4">
		</video>
		-->
		<div class="taglines">
			<div class="u-title">不在現場，勝似現場</div>
			<div class="u-subtitle">網路直播，第一時間傳播、擴大互動共鳴</div>
		</div>
	</div>
</section>

<!-- 

<section>
	<div class="container two-column">
		<div>
			<h2></h2>
			<p></p>
			<p></p>
		</div>
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
	</div>
</section>

{% include cta.html color="dark" %}

<section class="heading">
	<h1></h1>
</section>

-->

<section>
	<div class="container">
		<p> 異地零時差同步觀看，不受交通地點遠近、場地容納人數、實物成本限制，一二三四五六七八九，一二三四五六七八九，一二三四五六七八九，</p>
		<img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" />
		<p>一二三四五六七八九，一二三四五六七八九，一二三四五六七八九，一二三四五六七八九，一二三四五六七八九，一二三四五六七八九，一二三四五六七八九，一二三四五六七八九，一二三四五六七八九，一二三四五六七八九，</p>
		<img class="image wide" src="/img/cat/midnight.16x9.jpg" data-caption="" />
	</div>
</section>

<section>
	<div class="container">
		<h2>應用情境，一二三四五</h2>
	</div>
	<div class="container right imgs">
		<div>
			<img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="這邊放什麼圖" />
			<img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" />
		</div>
		<div>
			<h2>應用情境，一二三四五</h2>
			<p> 不經剪輯、公開透明、直播存證：公務會議、股東會</p>
			<p> 馬上知道結果、第一時間傳播：抽籤儀式、頒獎典禮、記者會</p>
			<p> （考慮連結：會議演講）</p>
		</div>
	</div>
</section>

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
		<div>
			<h2>1080p 直播，影音精準同步</h2>
			<p>沒有 interlace</p>
			<p>影音精準同步</p>
		</div>
	</div>
</section>

<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
		<div>
			<h2>重現現場氛圍的多機錄影、多軌收音</h2>
			<p></p>
			<p></p>
		</div>
	</div>
</section>

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
		<div>
			<h2>你可以負擔的成本</h2>
			<p> 電視台只有跨年、頒獎才作直播節目，因為很麻煩很貴</p>
			<p> 現在可以作為活動常備功能（連結：直接選在 BOOKSHOW 辦活動）</p>
		</div>
	</div>
</section>

{% include cta.html color="dark" %}

<section class="heading">
	<h1>開發挖掘直播應用可能性（互動的價值＆方法）</h1>
</section>


<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
		<div class="narrow">
			<h2>因為即時，所以互動，產生連結感</h2>
			<p>台上、台下、場外，三方互動</p>
			<p>自己聽專輯、現場聽演唱會＆留言牆、看演唱會直播＆聊天</p>
			<p>感受到別人的感受，讓別人感受到自己的感受</p>
			<p>共鳴共感共識，有助於產生、維繫社群（fancy word）</p>
		</div>
	</div>
</section>

<section>
	<div class="container two">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
		<div>
			<h2>提問投票影響現場</h2>
			<p>可向主辦留言提問（事前給問嗎？即時提問）、</p>
			<p>投票回答決定活動走向</p>
		</div>
	</div>
</section>

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
		<div>
			<h2>場外聊天</h2>
			<p>小編 say hello & stand by，提昇觀眾可互動感</p>
			<p>彙傳員</p>
		</div>
	</div>
</section>

<section>
	<div class="container two">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
		<div>
			<h2>場內留言牆</h2>
			<p>讓場內觀眾感受到「還有別人在關注」的形式一二三</p>
			<p></p>
		</div>
	</div>
</section>

<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
		<div>
			<h2>影片內嵌留言（改良式彈幕）</h2>
			<p>保留留言時間戳記，事後觀看也有聊天感</p>
			<p></p>
		</div>
	</div>
</section>

<section>
	<div class="container two">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
		<div>
			<h2>活動還沒結束，影片就已經爆紅了</h2>
			<p>同步上架到 YouTube 等平台</p>
			<p>可立即請現場參加者、網路觀眾分享</p>
			<p>事前宣傳與事後觀看為同一 YouTube 網址</p>
			<p>（等待後製高畫質版）</p>
		</div>
	</div>
</section>

{% include cta.html color="dark" %}
