---
layout: standard
class: [demo, article]
---

<section id="entrance">
	<div class="u-container">
		<!--
		<video class="wider" autoplay loop muted>
			<source src="/video/Apollo_1920x540_nonstop.ogv" type="video/ogg">
			<source src="/video/Apollo_1920x540_nonstop.m4v" type="video/mp4">
		</video>
		-->
		<div class="taglines">
			<div class="u-title">這裡是主標題</div>
			<div class="u-subtitle">這裡是副標題，通常比較長</div>
		</div>
	</div>
</section>

<section class="narrow">
	<div class="container">
		<p>
			單欄的窄段落，max-width: 735px (不計 padding)。
		</p>
		<img src="/img/cat/midnight.16x9.jpg">
		<p>
			文字、影片、圖片都可以放，但影片和圖片 max-width: 640px。
		</p>
	</div>
</section>

<section class="heading">
	<h1>普通的第一級標題</h1>
</section>

<section class="wide">
	<div class="container">
		<p>
			單欄的寬段落，max-width: 906px (不計 padding)。一樣文字、影片、圖片都可以放，不限制。
		</p>
		<img class="image" data-toggle="gallery" data-caption="這裡是圖下方的小字" src="/img/cat/apollo.16x9.jpg" data-uri="/img/cat/apollo.16x9.jpg" />
	</div>
</section>

<section class="heading">
	<h1 class="dark">反白的第一級標題</h1>
</section>

<section class="narrow">
	<div class="container">
		<p>
			普通的段落。
		</p>
		<h2>普通的第二級標題</h2>
		<p>
			普通的段落。
		</p>
		<h3>普通的第三級標題</h3>
		<p>
			普通的段落。
			<ul>
				<li>無序列表</li>
				<li>無序列表</li>
				<li>無序列表</li>
			</ul>
			<ol>
				<li>有序列表</li>
				<li>有序列表</li>
				<li>有序列表</li>
			</ol>
			<table class="table">
				<tr>
					<th>表格頭</th>
					<th>表格頭</th>
					<th>表格頭</th>
				</tr>
				<tr>
					<td>表格</td>
					<td>表格</td>
					<td>表格</td>
				</tr>
				<tr>
					<td>表格</td>
					<td>表格</td>
					<td>表格</td>
				</tr>
			</table>
		</p>
	</div>
</section>

{% include cta.html color="dark" %}

<section class="wide">
	<div class="container two-column">
		<div class="narrow">
			<p>
				左窄右寬。也不限制左右邊放什麼，反正窄的 360px，寬的 560px。
			</p>
		</div>
		<div class="wide">
			<img class="image" src="/img/cat/midnight.16x9.jpg" />
		</div>
	</div>
</section>

<section class="wide">
	<div class="container two-column">
		<div class="wide">
			<img class="image" src="/img/cat/apollo.16x9.jpg" />
		</div>
		<div class="narrow">
			<p>
				概念同上。
			</p>
		</div>
	</div>
</section>

<section class="wide">
	<div class="container two-column">
		<div class="medium">
			<img class="image" src="/img/cat/midnight.16x9.jpg" />
		</div>
		<div class="medium">
			<img class="image" src="/img/cat/apollo.16x9.jpg" />
		</div>
	</div>
	<div class="container">
		<p>
			左右同寬，都是 465px。一個 section 裡可以放多個 container。
		</p>
	</div>
</section>

{% include cta.html %}
