---
layout: standard-demo
type: product
id: demo
---

<section id="entrance">
	<div class="u-container">
		<!--
		<video class="taller" autoplay loop muted>
			<source src="/img/soapbox.ogg" type="video/ogg">
			<source src="/img/soapbox.mp4" type="video/mp4">
		</video>
		-->
	</div>
</section>

<!--
<section>
	<h1>這是主標題</h1>
	<div class="subtitle">這裡是副標題，通常比較長</div>
</section>
-->

<section>
	<h1 class="fancy">網路直播，是一種態度</h1>
</section>

<section>
	<div class="container">
		<p>
			一二三四五六七八九，一二三四五六七八九，一二三四五六七八九，一二三四五六七八九，一二三四五六七八九，一二三四五六七八九，
		</p>
		<p>
			要讓強大的事物，看來輕鬆簡單，這需要嚴謹的頂尖科技，而 OS X 正集其大成，滿載一切。它建立在堅如磐石、久經考驗的 UNIX 系統之上，具有無可匹敵的穩定性，以及領先業界的 Internet 標準支援。OS X 能充分發揮多核心 Intel 處理器與高速快閃儲存的全面優勢，任何工作都應付自如。而 OS X 驚人的繪圖處理效能，更為 Final Cut Pro 等應用程式帶來令人激賞的影片剪輯威力。進一步瞭解 OS X 的先進技術
		</p>
		<ul>
			<li>技術本質、應用情境</li>
			<li>適用對象、價值效果</li>
			<li>重點技術、執行規劃</li>
		</ul>
	</div>
</section>

<section>
	<h1 class="fancy dark">反白的第一級標題</h1>
</section>

<section>
	<div class="container">
		<p>
			普通的段落。
		</p>
	</div>
</section>

<section>
	<div class="container">
		<h2>普通的第二級標題</h2>
		<p>
			普通的段落。
		</p>
	</div>
</section>

<section>
	<div class="container">
		<h3>普通的第三級標題</h3>
		<p>
			普通的段落。
		</p>
	</div>
</section>

{% include cta.html color="dark" %}

<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<img class="image" data-toggle="gallery" src="/img/cat/midnight.s.jpg" data-uri="/img/cat/midnight.jpg" />
			</div>
			<div class="col-xs-6">
				<p>
					左文右圖。右文左圖就自己反過來。
				</p>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<img class="image" data-toggle="gallery" data-caption="這裡是圖下方的小字" src="/img/cat/apollo.s.jpg" data-uri="/img/cat/apollo.jpg" />
	</div>
</section>

{% include cta.html %}
