---
layout: standard
type: product
id: demo
---

<section id="entrance">
	<div class="u-container">
		<!--
		<video class="taller" autoplay loop muted>
			<source src="/img/soapbox.ogg" type="video/ogg">
			<source src="/img/soapbox.mp4" type="video/mp4">
		</video>
		-->
	</div>
</section>

<section>
	<h1>這是主標題</h1>
	<div class="subtitle">這裡是副標題，通常比較長</div>
</section>

<section>
	<div class="container">
		<p>
			普通的段落。
		</p>
	</div>
</section>

<section>
	<h1>普通的第一級標題</h1>
</section>

<section>
	<div class="container">
		<p>
			普通的段落。
		</p>
	</div>
</section>

<section>
	<div class="container">
		<h2>普通的第二級標題</h2>
		<p>
			普通的段落。
		</p>
	</div>
</section>

<section>
	<div class="container">
		<h3>普通的第三級標題</h3>
		<p>
			普通的段落。
		</p>
	</div>
</section>

{% include cta.html color="dark" %}

<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<p>
					左文右圖。右文左圖就自己反過來。
				</p>
			</div>
			<div class="col-xs-6">
				<img class="image" data-toggle="gallery" src="/img/cat/midnight.s.jpg" data-uri="/img/cat/midnight.jpg" />
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<img class="image" data-toggle="gallery" data-caption="這裡是圖下方的小字" src="/img/cat/apollo.s.jpg" data-uri="/img/cat/apollo.jpg" />
	</div>
</section>

{% include cta.html %}
