---
layout: standard
class: [demo, article]
---

<section id="entrance">
	<div class="u-container">
		<!--
		<video class="wider" autoplay loop muted>
			<source src="/video/Apollo_1920x540_nonstop.ogv" type="video/ogg">
			<source src="/video/Apollo_1920x540_nonstop.m4v" type="video/mp4">
		</video>
		-->
		<div class="taglines">
			<div class="u-title">打造黏住觀眾眼球的作品</div>
			<div class="u-subtitle">瞭解 BOOKSHOW 如何幫你作到</div>
		</div>
	</div>
</section>


<!-- 

<section>
	<div class="container two-column">
		<div>
			<h2></h2>
			<p></p>
			<p></p>
		</div>
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
	</div>
</section>

{% include cta.html color="dark" %}

<section class="heading">
	<h1></h1>
</section>

-->

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="圖：雙機不同角度遠近景" /></div>
		<div>
			<h2>主副雙機</h2>
			<p> 兩種不同角度，拍攝舞台寬景，特寫近景，避免單調、遺漏畫面</p>
			<p> 多人拍不下、快速移動或大動作、單機容易頭暈（雙機避免頭暈）</p>
			<p> 備援應變</p>
		</div>
	</div>
</section>
<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="圖：雙燈場景" /></div>
		<div class="narrow">
			<h2>兩盞燈光</h2>
			<p> 室內活動場地普遍光源不足、布光不佳</p>
			<p> 兩盞棚燈，調整現場布光</p>
		</div>
	</div>
</section>
<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="圖：混音器、喇叭、ZOOM H6 接線圖" /></div>
		<div>
			<h2>兩組收音</h2>
			<p>配合現場混音器、音控台，收取純淨麥克風音、後製自然殘響</p>
			<p>配合喇叭收麥克風＋現場音，所聽即所得保留現場氣氛，供事後混音、備援用</p>
		</div>
	</div>
</section>

<section class="heading">
	<h1>讓畫面更豐富</h1>
</section>

<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
		<div>
			<h2>升級為雙主機</h2>
			<p>增加攝影師動態操作攝影鏡頭，靈活跟隨場內焦點</p>
			<p>增加副攝影機：增加靜態攝影機，從場內不同區域、角度豐富取景</p>
		</div>
	</div>
</section>
<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
		<div>
			<h2>讓簡報畫面清晰可辨：電腦投影嵌入</h2>
			<p>徹底解決人小、臉黑、咒印｜投影模糊、色偏問題</p>
			<p>後製無法合成軟體或網頁操作問題</p>
			<p>從電腦投影 VGA / DVI / HDMI 視訊線路，直接錄下「像在電腦螢幕上」看到的畫面</p>
		</div>
	</div>
</section>


{% include cta.html color="dark" %}


<section class="heading">
	<h1>直播、剪輯、交件</h1>
</section>

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="圖：導播機台、Multiview" /></div>
		<div>
			<h2>網路直播導播</h2>
			<p></p>
			<p>瞭解更多（連結：網路直播頁面）</p>
		</div>
	</div>
</section>
<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="圖：剪輯軟體、示波器、色彩平衡" /></div>
		<div>
			<h2>紀錄型多機剪輯</h2>
			<p>切換雙機畫面、混合兩組收音</p>
			<p>基本調光調聲、簡易片頭尾</p>
		</div>
	</div>
</section>
<section>
	<div class="container left">
		<div>
			<h2>節目型精緻剪輯</h2>
			<p>同一畫面看久，容易視覺疲勞、轉移分心</p>
			<p>依「投影片出現時機、講話內容段落」切換鏡位、加入段落小標</p>
			<p>畫面豐富不單調、幫助觀眾提昇注意力</p>
		</div>
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="圖：剪輯軟體、timeline 細格、字幕" /></div>
	</div>
</section>
<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="圖：器材箱、架設場景" /></div>
		<div>
			<h2>影音檔案規格</h2>
			<p>紀錄：1080p23.98 4:2:2 / 2ch 24bit 48khz / 50Mbps</p>
			<p>完稿：1080p23.98 4:2:0 / 2ch 16bit 48khz / 5~8Mbps</p>
			<p>交件：可上傳 YouTube 等網路頻道，轉燒藍光、DVD 資料碟或影碟</p>
		</div>
	</div>
</section>


{% include cta.html color="dark" %}



<section class="heading">
	<h1>棚內科技（考慮 handycam FHD/UHD 示意圖風格、多圖排版）</h1>
</section>

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="紅絨舞台" /></div>
		<div>
			<h2>器材選用</h2>
			<p></p>
			<p></p>
			<p></p>
		</div>
	</div>
</section>
<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="紅絨舞台" /></div>
		<div>
			<h2>畫質運用</h2>
			<p></p>
			<p></p>
			<p></p>
		</div>
	</div>
</section>
<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="紅絨舞台" /></div>
		<div class="narrow">
			<h2>講究音質</h2>
			<p></p>
			<p></p>
			<p></p>
		</div>
	</div>
</section>
<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="紅絨舞台" /></div>
		<div>
			<h2>講者 / 內容配合</h2>
			<p></p>
			<p></p>
			<p></p>
		</div>
	</div>
</section>
<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="紅絨舞台" /></div>
		<div>
			<h2>多種布景、精細控光</h2>
			<p></p>
			<p></p>
			<p></p>
		</div>
	</div>
</section>
<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="電動彎軌" /></div>
		<div>
			<h2>電動彎軌</h2>
			<p></p>
			<p></p>
			<p></p>
		</div>
	</div>
</section>
<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="讀稿機" /></div>
		<div>
			<h2>讀稿機</h2>
			<p></p>
			<p></p>
			<p></p>
		</div>
	</div>
</section>
<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="紅絨舞台" /></div>
		<div>
			<h2>綠幕</h2>
			<p></p>
			<p></p>
			<p></p>
		</div>
	</div>
</section>


{% include cta.html color="dark" %}


<section class="heading">
	<h1>週邊服務</h1>
</section>

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="實地技術勘測" /></div>
		<div>
			<h2>實地技術勘測</h2>
			<p></p>
			<p></p>
		</div>
	</div>
</section>

<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="申裝臨時網路" /></div>
		<div>
			<h2>申裝臨時網路</h2>
			<p></p>
			<p></p>
		</div>
	</div>
</section>

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="逐字文稿、壓製字幕" /></div>
		<div>
			<h2>逐字文稿、壓製字幕</h2>
			<p></p>
			<p></p>
		</div>
	</div>
</section>

<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="加贈人物短訪" /></div>
		<div>
			<h2>加贈人物短訪</h2>
			<p>開拍後到開始短訪，間隔 2hr 以內，短訪 10min 以內</p>
			<p></p>
		</div>
	</div>
</section>

{% include cta.html color="dark" %}
