---
layout: standard
class: [demo, article]
---

<section id="entrance">
	<div class="u-container">
		<!--
		<video class="wider" autoplay loop muted>
			<source src="/video/Apollo_1920x540_nonstop.ogv" type="video/ogg">
			<source src="/video/Apollo_1920x540_nonstop.m4v" type="video/mp4">
		</video>
		-->
		<div class="taglines">
			<div class="u-title">打造黏住觀眾眼球的作品</div>
			<div class="u-subtitle">瞭解 BOOKSHOW 如何幫你作到</div>
		</div>
	</div>
</section>


<!-- 

<section>
	<div class="container two-column">
		<div>
			<h2></h2>
			<p> </p>
			<p> </p>
		</div>
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
	</div>
</section>

{% include cta.html color="dark" %}

<section class="heading">
	<h1></h1>
</section>

-->

<section class="heading" id="shoot">
	<h1>穩定高品質，可不能只靠一台錄影機</h1>
</section>

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="圖：雙機不同角度遠近景" /></div>
		<div>
			<h2>主副雙機，絕不漏接</h2>
			<p> 兩種取景角度：廣納舞台全景、特寫主角表情、伺機切換鏡位。就算多位講者交叉對談、快速大動作，畫面依然絕不漏接、生動自然。</p>
			<p> 完全避免單機「人小出格、搖攝頭暈、單調不動」等問題；就算有路人不小心跌倒摔壞一機，還有另一機備援！</p>
		</div>
	</div>
</section>

<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
		<div>
			<h2>讓簡報投影清晰可辨</h2>
			<p> 徹底解決人小、臉黑、咒印｜投影模糊、色偏問題</p>
			<p> 後製無法合成軟體或網頁操作問題</p>
			<p> 從電腦投影 VGA / DVI / HDMI 視訊線路，直接錄下「像在電腦螢幕上」看到的畫面</p>
		</div>
	</div>
</section>

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="圖：雙燈場景" /></div>
		<div class="narrow">
			<h2>為舞台視覺焦點布光</h2>
			<p> 室內活動場地普遍光源不足、布光不佳</p>
			<p> 兩盞棚燈，調整現場布光</p>
			<p> </p>
		</div>
	</div>
</section>

<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="圖：混音器、喇叭、ZOOM H6 接線圖" /></div>
		<div>
			<h2>多聲軌現場獨立收音</h2>
			<p> 配合現場混音器、音控台，收取純淨麥克風音、後製自然殘響</p>
			<p> 配合喇叭收麥克風＋現場音，所聽即所得保留現場氣氛，供事後混音、備援用</p>
			<p> </p>
		</div>
	</div>
</section>

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
		<div>
			<h2>從更多不同角度欣賞</h2>
			<p> 增加攝影師動態操作攝影鏡頭，靈活跟隨場內焦點</p>
			<p> 增加副攝影機：增加靜態攝影機，從場內不同區域、角度豐富取景</p>
			<p> </p>
		</div>
	</div>
</section>

{% include cta.html color="dark" %}





<section class="heading" id="edit">
	<h1>相同精采片段，不同呈現方式｜應用目標</h1>
</section>

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="圖：導播機台、Multiview" /></div>
		<div>
			<h2>網路直播導播</h2>
			<p> </p>
			<p> </p>
			<p> 瞭解更多（連結：網路直播頁面）</p>
		</div>
	</div>
</section>

<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="圖：剪輯軟體、示波器、色彩平衡" /></div>
		<div>
			<h2>多機紀錄剪輯</h2>
			<p> 切換雙機畫面、混合兩組收音</p>
			<p> 基本調光調聲、簡易片頭尾</p>
		</div>
	</div>
</section>

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="圖：剪輯軟體、timeline 細格、字幕" /></div>
		<div>
			<h2>精緻節目剪輯</h2>
			<p> 同一畫面看久，容易視覺疲勞、轉移分心</p>
			<p> 依「投影片出現時機、講話內容段落」切換鏡位、加入段落小標</p>
			<p> 畫面豐富不單調、幫助觀眾提昇注意力</p>
		</div>
	</div>
</section>

{% include cta.html color="dark" %}





<section class="heading" id="others">
	<h1>週邊服務</h1>
</section>

<section id="out-support">
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="實地技術勘測" /></div>
		<div>
			<h2>現場勘測規劃</h2>
			<p> </p>
			<p> </p>
			<p> </p>
		</div>
	</div>
</section>

<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="申裝臨時網路" /></div>
		<div>
			<h2>申裝臨時網路</h2>
			<p> </p>
			<p> </p>
			<p> </p>
		</div>
	</div>
</section>

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="逐字文稿、壓製字幕" /></div>
		<div>
			<h2>逐字文稿、影片字幕</h2>
			<p> </p>
			<p> </p>
			<p> </p>
		</div>
	</div>
</section>

<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="加贈人物短訪" /></div>
		<div>
			<h2>加贈人物短訪</h2>
			<p> 開拍後到開始短訪，間隔 2hr 以內，短訪 10min 以內</p>
			<p> </p>
			<p> </p>
		</div>
	</div>
</section>

{% include cta.html color="dark" %}
