---
layout: standard
class: [demo, article]
---

<section id="entrance">
	<div class="u-container">
		<!--
		<video class="wider" autoplay loop muted>
			<source src="/video/Apollo_1920x540_nonstop.ogv" type="video/ogg">
			<source src="/video/Apollo_1920x540_nonstop.m4v" type="video/mp4">
		</video>
		-->
		<div class="taglines">
			<div class="u-title">打造黏住觀眾眼球的作品</div>
			<div class="u-subtitle">瞭解 BOOKSHOW 如何幫你作到</div>
		</div>
	</div>
</section>


<!-- 

<section>
	<div class="container two-column">
		<div>
			<h2></h2>
			<p> </p>
			<p> </p>
		</div>
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="" /></div>
	</div>
</section>

{% include cta.html color="dark" %}

<section class="heading">
	<h1></h1>
</section>

-->


<section class="heading">
	<h1>您不會問、別人不說，但有種麻煩叫做自我要求……</h1>
</section>

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="紅絨舞台" /></div>
		<div>
			<h2>器材選用</h2>
			<p> </p>
			<p> </p>
			<p> </p>
		</div>
	</div>
</section>

<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="紅絨舞台" /></div>
		<div>
			<h2>畫質運用</h2>
			<p> </p>
			<p> </p>
			<p> </p>
		</div>
	</div>
</section>

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="紅絨舞台" /></div>
		<div class="narrow">
			<h2>講究音質</h2>
			<p> </p>
			<p> </p>
			<p> </p>
		</div>
	</div>
</section>

<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="紅絨舞台" /></div>
		<div>
			<h2>講者 / 內容配合</h2>
			<p> </p>
			<p> </p>
			<p> </p>
		</div>
	</div>
</section>

<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="圖：器材箱、架設場景" /></div>
		<div>
			<h2>影音檔案規格</h2>
			<p> 紀錄：1080p23.98 4:2:2 / 2ch 24bit 48khz / 50Mbps</p>
			<p> 完稿：1080p23.98 4:2:0 / 2ch 16bit 48khz / 5~8Mbps</p>
			<p> 交件：可上傳 YouTube 等網路頻道，轉燒藍光、DVD 資料碟或影碟</p>
		</div>
	</div>
</section>

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="紅絨舞台" /></div>
		<div>
			<h2>多種布景、精細控光</h2>
			<p> </p>
			<p> </p>
			<p> </p>
		</div>
	</div>
</section>

<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="電動彎軌" /></div>
		<div>
			<h2>追焦彎軌</h2>
			<p> </p>
			<p> </p>
			<p> </p>
		</div>
	</div>
</section>

<section>
	<div class="container left">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="讀稿機" /></div>
		<div>
			<h2>讀稿機</h2>
			<p> </p>
			<p> </p>
			<p> </p>
		</div>
	</div>
</section>

<section>
	<div class="container right">
		<div><img class="image" src="/img/cat/midnight.16x9.jpg" data-caption="紅絨舞台" /></div>
		<div>
			<h2>綠幕合成</h2>
			<p> </p>
			<p> </p>
			<p> </p>
		</div>
	</div>
</section>

{% include cta.html color="dark" %}
