<section class="bgyellow">
	<div>
		<span class="nowrap footer-item">
			<i class="fa fa-phone-square"></i>
			(02) 27639627
		</span>
		<span class="nowrap footer-item">
			<i class="fa fa-envelope"></i>
			<a href="mailto:hello@bookshow.tw">hello@bookshow.tw</a>
		</span>
	</div>
	<div>
		<span class="nowrap">
			地址：台北市信義區基隆路一段 141 號 6 樓之 7<br/>
			地標：捷運市政府站，松山高中對面，7-11 樓上<br/>
		</span>
	</div>
	<div>
		<span class="nowrap">BOOKSHOW ©</span>
		<span class="nowrap">2014 奧石數位文創</span>
	</div>
	{% unless page.title %}
		<iframe id="google-maps" src="{{ site.google_map_embedded }}" class="void-on-scrolling" style="height:80vh;"></iframe>
	{% endunless %}
</section>
