<section>
	<div id="social-media" class="container">
		<ul class="unstyled compact">
			<li>
				<a class="youtube" href="http://www.youtube.com/BookshowTW" target="_blank">Youtube</a>
			</li>
			<li>
				<a class="facebook" href="http://www.facebook.com.tw/Bookshow.tw" target="_blank">Facebook</a>
			</li>
		</ul>
	</div>
	<div id="footer-information" class="container">
		<div class="compact align-left">
			<div class="u-row">
				<i class="u-icon md md-call"></i>
				<span>(02) 27639627</span>
			</div>
			<div class="u-row">
				<i class="u-icon md md-email"></i>
				<a href="mailto:hello@bookshow.tw">hello@bookshow.tw</a>
			</div>
			<div class="u-row">
				<i class="u-icon md md-location-on"></i>
				<span class="nowrap">110 台北市信義區基隆路一段</span>
				<span class="nowrap">141 號 6 樓之 7</span>
			</div>
		</div>
	</div>
	<div id="copyright" class="container">
		<span class="nowrap">Copyright © 2015 BOOKSHOW</span>
		<span class="nowrap">All rights reserved.</span>
	</div>
</section>
