<div class="navbar-header">
	<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
		<i class="fa fa-bars"></i>
	</button>
	<a href="/" class="navbar-brand"></a>
</div>
<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
	<ul class="nav navbar-nav">
		<li>{% include page-menu-item.html type="header" title="活動場地" url="/space" name="space" %}</li>
		<li>{% include page-menu-item.html type="header" title="活動錄影" url="/studio" name="studio" %}</li>
		<li>{% include page-menu-item.html type="header" title="簡報錄影" url="/presentation" name="presentation" %}</li>
		<li>{% include page-menu-item.html type="header" title="預約日曆" url="/schedule" name="schedule" %}</li>
		<li>{% include page-menu-item.html type="header" title="交通指南" url="/traffic" name="traffic" %}</li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li>{% include page-menu-item.html type="header" title="關於我們" url="/about" name="about" %}</li>
	</ul>
</nav>
