<div class="navbar-header">
	<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
		<i class="fa fa-bars"></i>
	</button>
	<a href="/" class="navbar-brand"></a>
</div>
<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
	<ul class="nav navbar-nav">
		<li>
			<div class="dropdown">
				<a class="menu-link dropdown-toggle" data-toggle="dropdown">
					服務<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu">
					{% for p in site.data.labels.products %}
						{% assign id = p[0] %}
						{% assign title = p[1] %}
						{% capture url %}/{{id}}{% endcapture %}
					<li>{% include menu-link.html type="header" title=title url=url id=id %}</li>
					{% endfor %}
				</ul>
			</div>
		</li>
		<li>{% include menu-link.html type="header" title="價格" url="/pricing" id="pricing" %}</li>
		<li>{% include menu-link.html type="header" title="交通" url="/traffic" id="traffic" %}</li>
		<!--
		<li>
			<div class="dropdown">
				<a class="menu-link dropdown-toggle" data-toggle="dropdown">
					資訊<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu">
					<li>{% include menu-link.html type="header" title="交通" url="/traffic" id="traffic" %}</li>
				</ul>
			</div>
		</li>
		-->
		<li>
			<div class="dropdown">
				<a class="menu-link dropdown-toggle" data-toggle="dropdown">
					關於<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu">
					<li>{% include menu-link.html type="header" title="關於我們" url="/about" name="about" %}</li>
					<li>{% include menu-link.html type="header" title="部落格"   url="http://blog.bookshow.tw" name="blog" %}</li>
					<hr>
					<li id="social-icons">
						<a class="header-menu-link fa fa-youtube-square youtube" href="http://www.youtube.com/BookshowTW" target="_blank"></a>
						<a class="header-menu-link fa fa-google-plus-square google-plus" href="https://plus.google.com/111710980865588117648/posts" target="_blank"></a>
						<a class="header-menu-link fa fa-facebook-square facebook" href="http://www.facebook.com.tw/Bookshow.tw" target="_blank"></a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	</ul>
</nav>
