<div id="page-menu">
	<div>
		{% include page-menu-item.html title="活動場地" url="/space"		name="space" %}
		{% include page-menu-item.html title="活動錄影" url="/studio"		name="studio" %}
		{% include page-menu-item.html title="簡報錄影" url="/presentation"	name="presentation" %}
		{% include page-menu-item.html title="預約日曆" url="/schedule"	name="schedule" %}
		{% include page-menu-item.html title="交通指南" url="/traffic"		name="traffic" %}
		{% include page-menu-item.html title="關於我們" url="/about"		name="about" %}
	</div>
</div>