<!DOCTYPE html>

<html debug="ture" lang="zh_tw">

<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta charset="utf-8">
	<link rel="bookmark"      href="favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width" /><!--定義給手機看-->
	<title>{{ site.name }}{% if page.title %}{% if page.title != "index" %} / {{ page.title }} {% endif %}{% endif %}</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/default.css">
</head>

<body>
<div id="wrap">
    <div id="header">
    	<div style="text-align:right;height:80px;line-height:88px;margin-top:15px;width:600px;background:url('/img/header-logo.png') no-repeat;">
    		<img src="../img/icon_facebook.png" class="noshadow"/><img src="../img/icon_google+.png" class="noshadow"/><img src="../img/icon_youtube.png" class="noshadow"/>
    	</div>
   		<!--
   		<div style="width:100%;background:url('/img/BOOKSHOW-where-knowledge-comes-alive_600.png') no-repeat;height:120px;"></div>
		<div style="width:100%;background:url('/img/3subject.png') 150px no-repeat;height:50px;"></div>
	   	-->

    </div>

    <div id="body">
    	{% if page.title != "index" %} 
    	<div>
			<img src="/img/menu.png" class="img-4col"/>
			<img src="/img/menu.png" class="img-4col"/>
			<img src="/img/menu.png" class="img-4col"/>
			<img src="/img/menu.png" class="img-4col"/>
			<img src="/img/menu.png" class="img-4col"/>
			<img src="/img/menu.png" class="img-4col"/>
			<img src="/img/menu.png" class="img-4col"/>
			<img src="/img/menu.png" class="img-4col"/>
		</div>
		<div class="wraps"></div>
		{% endif %}
		{{ content }}
	</div>  

	<div id="push"></div>

	<div id="footer">
			{% include footer-old.html %}
	</div>
	{% include ga.html %}
</div>
</body>
</html>