---
layout: default
---

<style>
	{% if page.left %}
	ul.conversation .left:before {
		content: '{{ page.left }}';
	}
	{% endif %}
	{% if page.left %}
	ul.conversation .right:before {
		content: '{{ page.right }}';
	}
	{% endif %}
	{% if page.op %}
	#opening {
		background-image: url('{{ page.op.src }}');
	}
	{% endif %}
</style>

<div id="post-body">
	<div id="opening" class="theme">
		<h1>{{ page.title }}</h1>
		{% if page.op.author %}
		<a id="op-info" href="http://{{ page.op.ref }}" title="{{ page.op.author }}">
			<i class="icon-camera"></i>
		</a>
		{% endif %}
	</div>

	<div id="entry" class="entry {% if page.lclass %}left-{{ page.lclass }}{% endif %} {% if page.rclass %}right-{{ page.rclass }}{% endif %}">
		{{ content }}
		<section id="references" header="References">
			<ol></ol>
		</section>
	</div>
	
	<div id="relatives">
		{% if page.previous %}
			{% assign post = page.previous %}
			{% assign class = "left" %}
			{% include summary.html %}
		{% else %}
		
		{% endif %}
		
		{% if page.next %}
			{% assign post = page.next %}
			{% assign class = "right" %}
			{% include summary.html %}
		{% else %}
		
		{% endif %}
	</div>
</div>
